<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
<style>
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 16px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
</style>
</head>
<body>
  <div class="main-wrapper" id="right-scroll">
    <div class="_1R8mR">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-12 text-center">
            <div class="avatar-logo">
              <img src="<%= asset_url('logo-new.png') %>" />
            </div>
          </div>
        </div>
        <div class="row justify-content-center align-items-center">
        </div>
      </div>

      <div class="cat_1R8mR ">
        <div class="pjKQH-Right">
          <div class="_2r0fh">
            <h1 class="text-right"><%= t('categories') %></h1>
            <header id="secondary-nav" class="secondary-nav right" style="top: 0;">
              <ul class="vam nav arbic-text">
                <% @categories.to_a.each do |category| %>
                  <% category = category["attributes"]  %>
                  <li class="nav-item">
                    <%= link_to category_search_web_booth_books_path(booth_id: @booth["number"], category_id: category["id"]), class: "nav-link mb-3 btn btn-search-cat-head", remote: true  do %>
                          <% cat_url = category["icon_url"] rescue nil%>
                          <img src="<%= cat_url%>" /><%= category["arabic_name"]%>
                        <% end %>
                  </li>
                <% end %>
              </ul>
            </header>
          </div>
        </div>
      </div>
    </div>
    <main class="main">
       <div class="cat_1R8mR ">
        <div class="pjKQH-Right">
          <div class="_2r0fh">      
            <h1 class="text-right"><%= t('trending_now')%></h1>
            <div class="frame arabic swiper" id="basic" dir="rtl">
              <ul class="clearfix swiper-wrapper">
                <% @trending_books.to_a.each do |book|%>
                  <% book = book["attributes"] %>
		  
                  <li class="swiper-slide" style="width:100px">
                   <div id="Div4" class="single-product">
                      <div class="part-1">
                        <span class="checkout-product-img">
                          <%= link_to web_booth_book_path(booth_id: @booth["number"], id: book["id"]), remote: true do %> 
                            <% img_url = book["cover"]  rescue nil%>
                            <img src="<%= img_url %>" class="rounded" />
                          <% end %>
                        </span>
                        <div class="first">
                          <div class="d-flex justify-content-between align-items-center">
                           <%if book["language"] == "English"%>
                              <span class="discount-1">E</span>
                            <%else%>
                              <span class="discount-1">ع</span>
                            <%end%>
                            <span class="wishlist"><%= Time.at(book["book_duration"].to_f).utc.strftime("%H:%M:%S") %> <i class="fa fa-headphones pl-1" aria-hidden="true"></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="part-2">
                        <h3 class="product-title"><%= book["arabic_title"] %></h3>
                        <h4 class="product-old-price mt-3 mb-4"><%= book["arabic_author_name"] %></h4>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
     <div class="cat_1R8mR ">
       <div class="pjKQH-Right">
         <div class="_2r0fh">       
            <h1 class="text-right"><%= t('added_recently') %></h1>
            <div class="frame arabic-1 swiper" id="Div11" dir="rtl">
              <ul class="clearfix swiper-wrapper">
                <% @books.to_a.each do |book|%>
                  <% book = book["attributes"] %>
                  <li class="swiper-slide">
                    <div id="Div32" class="single-product">
                      <div class="part-1">
                        <span class="checkout-product-img">
                          <%= link_to web_booth_book_path(booth_id: @booth["number"], id: book["id"]), remote: true do %>  
                          <% img_url = book["cover"] rescue nil %>
                            <img src="<%= img_url %>" class="rounded" />
                          <% end %>
                        </span>
                         <div class="first">
                          <div class="d-flex justify-content-between align-items-center">
                            <%if book["language"] == "English"%>
                              <span class="discount-1">E</span>
                            <%else%>
                              <span class="discount-1">ع</span>
                            <%end%>
                            <span class="wishlist"><%= Time.at(book["book_duration"].to_f).utc.strftime("%H:%M:%S") %> <i class="fa fa-headphones pl-1" aria-hidden="true"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="pt-0">
      <div class="footer-overley"></div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-3">
            <%= link_to web_booth_path(id: @booth["number"]) do %>
              <img class="img-fluid" src="<%= asset_url('footer-logo-white.png') %>">
            <% end %>
          </div>
          <div class="col-md-9 text-right">
            <%= link_to web_booth_path(id: booth["number"], locale: :en), class:"btn btn-light-grey btn-footer" do %>
                <img src="<%= asset_url('back-white.png') %>">
            <% end %>

            <% if params[:locale] == "en" || params[:locale] == nil %>
              <%= link_to web_booth_books_path(booth_id: @booth["number"], locale: :ar), class:"btn btn-light-grey btn-footer", remote: true do %>
                <img src="<%= asset_url('arabic.png') %>">
              <% end %>
              <% if  @booth["number"] == "fr123ench12345fr123ench" %>
                <%= link_to web_booth_books_path(booth_id: @booth["number"], locale: :fr), class:"btn btn-light-grey btn-footer", remote: true do %>
                  <img src="<%= asset_url('Fr.png') %>">
                <% end %>
              <% end %>
            <% elsif  params[:locale] == "ar" %>
              <%= link_to web_booth_books_path(booth_id: @booth["number"], locale: :en), class:"btn btn-light-grey btn-footer", remote: true do %>
                <img src="<%= asset_url('eng-white.png') %>">
              <% end %>
              <% if  @booth["number"] == "fr123ench12345fr123ench" %>
                <%= link_to web_booth_books_path(booth_id: @booth["number"], locale: :fr), class:"btn btn-light-grey btn-footer", remote: true do %>
                  <img src="<%= asset_url('Fr.png') %>">
                <% end %>
              <% end %>
            <%else%>
            <%= link_to web_booth_books_path(booth_id: @booth["number"], locale: :ar), class:"btn btn-light-grey btn-footer", remote: true do %>
              <img src="<%= asset_url('arabic.png') %>">
            <% end %>
            <%= link_to web_booth_books_path(booth_id: @booth["number"], locale: :en), class:"btn btn-light-grey btn-footer", remote: true do %>
              <img src="<%= asset_url('eng-white.png') %>">
            <% end %>
            <% end %>
            <%= link_to accessibility_mode_web_booth_books_path(booth_id: @booth["number"]), remote: true, class: "btn btn-light-grey btn-footer" do %>
              <img src="<%= asset_url('access-white.png') %>">
            <% end %>
           <%= link_to  children_mode_web_booth_books_path(booth_id: @booth["number"]), class: "btn btn-light-grey btn-footer", remote: true do %>
              <img src="<%= asset_url('baby-white.png') %>">
            <% end %>
          </div>

        </div>
      </div>
    </footer>
</div>

  <script id="rendered-js">
    jQuery(function ($) {
      'use strict';

      // -------------------------------------------------------------
      //   Basic Navigation
      // -------------------------------------------------------------
      (function () {
        const swiperBasic= new Swiper('.swiper', {
         loop: false,slidesPerView: 5
        });
      })();
    });
    //# sourceURL=pen.js
  </script>
</body>
</html>
<style>
.isDisabled {
  pointer-events: none;
}
</style>
<script>
document.addEventListener('touchmove', function (e) {
    e.preventDefault();
    if ($(".search-box").is(":focus")) {
        document.activeElement.blur();
    }
}, false);
</script>
