<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
</head>
<body>
  <div class="main-wrapper main">
    <div class="book-detail">
      <div class="container">
        <div class="row">
          <div class="col-md-6 pr-0">
            <div class="image-grid-container common-clearfix">
              <div class="image-grid-col50">
                <div class="image-grid-imageContainer">
                  <% img_url = @book.book_files.first.book_cover_file.url rescue nil  %>
                <img class="big-img" src="<%= img_url %>">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 pl-0">
            <div class="detail-info pr-30 pl-30">
              <h2 class="title-detail"><%= @book.title %></h2>
              <div class="short-desc mb-30">
                <h4><%= t('overview') %></h4>
                <p class="font-lg mt-4">
                  <%= @book.body %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="book-detail-2">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="book-detail-2-mini row">
              <div class="col-md-4">
                <div class="time text-center">
                  <p><%= t('time') %></p>
                  <h5><%= Time.at(@book.book_duration.to_f).utc.strftime("%H:%M:%S") %></h5>
                </div>
              </div>

              <div class="col-md-4">
                <div class="author-main text-center">
                  <p><%= t('author') %></p>
                  <h5><%= @book.author_name %></h5>
                </div>
              </div>

              <div class="col-md-4">
                <div class="category text-center">
                  <p><%= t('category') %></p>
                  <h5><%= @book.categories.pluck(:name).join(", ") %></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="book-detail-2-mini row dark-bg">
              <div class="book-scan-cd">
                <div class="left">
                  <h3 class="text-white">Get the full version of this audiobook now in 2 easy steps and enjoy!</h3>
                  <ul class="css-f4kgqr">
                    <li><i class="fa fa-qrcode" aria-hidden="true"></i>Scan the QR code with your mobile phone camera</li>
                    <li><span><i class="fa fa-play" aria-hidden="true"></i></span>Open the link in your mobile browser and enjoy</li>
                  </ul>
                </div>
                <div class="right qr-code">
                  <div class="bg-white qr-bgiio">
                    <div class="qr-image-grid-imageContainer">
                      <%#= qr_url = @qr_code.as_svg( offset: 0, color: "000", shape_rendering: 'crispEdges', module_size: 4, standalone: true ).html_safe %>
                      <!-- <img src="" /> -->
                      <%= image_tag "data:image/png;base64,#{Base64.encode64(@qr_png.to_s).gsub("\n", "")}" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <footer class="bg-audioplayer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="book-player">
    <div class="player">
      <div class="info">
        <h1><%= t('play_book_preview') %></h1>

        <div class="button-items">
          <% sort_audio_url = @book.book_files.first.short_audio_file.url %>
          <audio id="music" preload="auto">
            <source src="<%=  sort_audio_url %>">
           <!--  <source src="https://dl.dropbox.com/s/75jpngrgnavyu7f/The-Noisy-Freaks.ogg?dl=1" type="audio/ogg"> -->
          </audio>
          <div id="slider">
            <div id="elapsed"></div>
          </div>
          <p id="timer">0:00</p>
          <div class="controls">
            <button class="btn-backward">
              <svg version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 612 792" enable-background="new 0 0 612 792" xml:space="preserve">
                <g>
                    <path d="M325.125,319.5c-5.737,0-9.563-1.913-13.388-5.737l-76.5-76.5c-7.65-7.65-7.65-19.125,0-26.775l76.5-76.5
c7.65-7.65,19.125-7.65,26.775,0c7.649,7.65,7.649,19.125,0,26.775L275.4,223.875l63.113,63.112c7.649,7.65,7.649,19.125,0,26.775
C334.688,317.587,330.862,319.5,325.125,319.5z" />
                </g>
                <g>
                    <path d="M306,204.75h-19.125c-11.475,0-19.125,7.65-19.125,19.125S275.4,243,286.875,243H306
c105.188,0,191.25,86.063,191.25,191.25S411.188,625.5,306,625.5s-191.25-86.063-191.25-191.25c0-0.25,0.008-0.5,0.009-0.75h-38.25
c0,0.25-0.009,0.5-0.009,0.75c0,1.201,0.009,2.399,0.028,3.596C78.466,562.43,180.976,663.75,306,663.75
c126.225,0,229.5-103.275,229.5-229.5C535.5,308.025,432.225,204.75,306,204.75z" />
                </g>
                <text transform="matrix(1 0 0 1 137.0063 546.2256)">
                    <tspan x="0" y="0" font-family="'Arial-BoldMT'" font-size="294.6757" letter-spacing="-40">1</tspan>
                    <tspan x="123.219" y="0" font-family="'Arial-BoldMT'" font-size="294.6757">0</tspan>
                </text>
              </svg>
            </button>

            <svg id="play" viewBox="0 0 25 25" xml:space="preserve">
              <defs>
                <rect x="-49.5" y="-132.9" width="446.4" height="366.4" />
              </defs>
              <g>
                <circle fill="none" cx="12.5" cy="12.5" r="10.8" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.7,6.9V18c0,0,0.2,1.4,1.8,0l8.1-4.8c0,0,1.2-1.1-1-2L9.8,6.5 C9.8,6.5,9.1,6,8.7,6.9z" />
              </g>
            </svg>


            <svg id="pause" viewBox="0 0 25 25" xml:space="preserve">
              <g>
                <rect x="6" y="4.6" width="3.8" height="15.7" />
                <rect x="14" y="4.6" width="3.9" height="15.7" />
              </g>
            </svg>
            <button class="btn-forward">
              <svg version="1.1" id="Svg1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 612 792" enable-background="new 0 0 612 792" xml:space="preserve">
                <g>
                  <path d="M235.237,313.763c-7.649-7.65-7.649-19.125,0-26.775l63.113-63.112l-63.113-63.112c-7.649-7.65-7.649-19.125,0-26.775
c7.65-7.65,19.125-7.65,26.775,0l76.5,76.5c7.649,7.65,7.649,19.125,0,26.775l-76.5,76.5c-3.825,3.825-7.65,5.737-13.388,5.737
S239.063,317.587,235.237,313.763z" />
                </g>
                <g>
                  <path d="M306,204.75h19.125c11.475,0,19.125,7.65,19.125,19.125S336.6,243,325.125,243H306c-105.188,0-191.25,86.063-191.25,191.25
S200.813,625.5,306,625.5s191.25-86.063,191.25-191.25c0-0.25-0.008-0.5-0.009-0.75h38.25c0.001,0.25,0.009,0.5,0.009,0.75
c0,1.201-0.01,2.399-0.027,3.596C533.533,562.43,431.024,663.75,306,663.75c-126.225,0-229.5-103.275-229.5-229.5
C76.5,308.025,179.775,204.75,306,204.75z" />
                </g>
                <text transform="matrix(1 0 0 1 154.9946 548.2256)">
                  <tspan x="0" y="0" font-family="'Arial-BoldMT'" font-size="294.6757" letter-spacing="-40">1</tspan>
                  <tspan x="123.219" y="0" font-family="'Arial-BoldMT'" font-size="294.6757">0</tspan>
                </text>
              </svg>
            </button>

          </div>
        </div>
      </div>
    </div>
      </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-3"></div>
            <div class="col-md-9 text-right">
              <%= link_to web_booth_books_path(booth_id: @booth.number), class:"btn btn-light-grey btn-footer", remote: true do %>
                <img src="<%= asset_url('back.png') %>">
              <% end %>
              <a href="#" class="btn btn-light-grey btn-footer">
                <img src="<%= asset_url('eng.png') %>">
              </a>
              <a href="#" class="btn btn-light-grey btn-footer">
                <img src="<%= asset_url('access.png') %>">
              </a>
              <a href="#" class="btn btn-light-grey btn-footer">
                <img src="<%= asset_url('baby.png') %>">
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script id="rendered-js">
    var music = document.getElementById("music");
    var playButton = document.getElementById("play");
    var pauseButton = document.getElementById("pause");
    var playhead = document.getElementById("elapsed");
    var timeline = document.getElementById("slider");
    var timer = document.getElementById("timer");
    var duration;
    pauseButton.style.visibility = "hidden";

    var timelineWidth = timeline.offsetWidth - playhead.offsetWidth;
    music.addEventListener("timeupdate", timeUpdate, false);

    function timeUpdate() {
      var playPercent = timelineWidth * (music.currentTime / duration);
      playhead.style.width = playPercent + "px";

      var total_minutes = Math.floor(music.duration / 60);
      var total_seconds = Math.floor(music.duration % 60);

      var minutes = Math.floor(music.currentTime / 60);
      var seconds = Math.floor(music.currentTime % 60);
      if (seconds < 10) {
        seconds = '0' + String(seconds);
      }
      timer.innerHTML = minutes + ':' + seconds + "/" + total_minutes + ":" + total_seconds;
    }

    playButton.onclick = function () {
      music.play();
      playButton.style.visibility = "hidden";
      pause.style.visibility = "visible";
    };

    pauseButton.onclick = function () {
      music.pause();
      playButton.style.visibility = "visible";
      pause.style.visibility = "hidden";
    };

    music.addEventListener("canplaythrough", function () {
      duration = music.duration;
    }, false);

    $(".btn-forward").click(function(){
      var music = $("#music")[0]
      if( music.currentTime < music.duration ){
        music.currentTime += 10
      }
     });

    $(".btn-backward").click(function(){
      var music = $("#music")[0]
      if( music.currentTime > 0 ){
        music.currentTime -= 10
      }
    });

    $(".playbackrate").change(function(){
      value = $(this).val()
      var music = $("#music")[0]
      music.playbackRate = value;
    });

    //# sourceURL=pen.js
  </script>
</body>
</html>