<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
      <style>
        .controls svg {
            fill:#fff;
        }
        .css-f4kgqr li svg {
                margin-right: 12px
        }
    </style>
</head>
<body>
  <div class="main-wrapper main">
    <div class="book-detail">
      <div class="container">
        <div class="row">
          <div class="col-md-6 pr-0">
            <div class="image-grid-container common-clearfix">
              <div class="image-grid-col50">
                <div class="image-grid-imageContainer">
                  <% img_url = @book.book_files.first.book_cover_file.url rescue nil  %>
                <img class="big-img" src="<%= img_url %>">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 pl-0">
            <div class="detail-info pr-30 pl-30">
              <h2 class="title-detail"><%= @book["title"] %></h2>
              <div class="short-desc mb-30">
                <h4><%= t('overview') %></h4>
                <p class="font-lg mt-4">
                  <%= @book["body"] %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="book-detail-2">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="book-detail-2-mini row">
              <div class="col-md-4">
                <div class="time text-center">
                  <p><%= t('time') %></p>
                  <h5><%= Time.at(@book["book_duration"].to_f).utc.strftime("%H:%M:%S") %></h5>
                </div>
              </div>

              <div class="col-md-4">
                <div class="author-main text-center">
                  <p><%= t('author') %></p>
                  <h5><%= @book["author_name"] %></h5>
                </div>
              </div>

              <div class="col-md-4">
                <div class="category text-center">
                  <p><%= t('category') %></p>
                  <h5><%= @book["display_categories"] %></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="book-detail-2-mini row dark-bg">
              <div class="book-scan-cd">
                <div class="left">
                  <h3 class="text-white"><%= t('get_the_full') %></h3>
                  <ul class="css-f4kgqr">
                    <li><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px"
   height="25px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
<g id="G1">
  <path fill="none" d="M-2.608-2.63h104.715v104.715H-2.608V-2.63z"/>
  <path fill="#ffffff" d="M67.202,71.543V67.18H54.113V54.09h13.089v8.728h8.727v8.726h-4.362v8.725h-8.728v8.729h-8.726V75.905
    h8.726v-4.362H67.202z M89.019,88.997H71.566v-8.729h8.725v-8.725h8.728V88.997z M10.481,10.459h34.905v34.905H10.481V10.459z
     M19.208,19.186v17.452H36.66V19.186H19.208z M54.113,10.459h34.905v34.905H54.113V10.459z M62.839,19.186v17.452h17.452V19.186
    H62.839z M10.481,54.09h34.905v34.907H10.481V54.09z M19.208,62.817v17.45H36.66v-17.45H19.208z M75.929,54.09h13.09v8.728h-13.09
    V54.09z M23.571,23.548h8.727v8.727h-8.727V23.548z M23.571,67.18h8.727v8.726h-8.727V67.18z M67.202,23.548h8.727v8.727h-8.727
    V23.548z"/>
</g>
<g id="G2">
  <g id="G3">
    <g id="Rounded" transform="translate(-548.000000, -3434.000000)">
      <g id="Navigation" transform="translate(100.000000, 3378.000000)">
        <g id="_x2D_Round-_x2F_-Navigation-_x2F_-arrow_x5F_back_x5F_ios" transform="translate(442.000000, 54.000000)">
          <g>
            <polygon id="Polygon1" fill="none" points="13.069,-8.136 31.184,9.456 13.591,27.57 -4.523,9.979             "/>
            <path id="Path3" fill="#ffffff" d="M23.421,6.303c-0.01-0.729-0.606-1.309-1.335-1.298L9.722,5.186
              C9.143,5.194,8.68,5.67,8.689,6.25L8.87,18.614c0.011,0.729,0.608,1.307,1.337,1.297c0.728-0.011,1.307-0.606,1.296-1.334
              l-0.15-10.78l10.786-0.158C22.853,7.627,23.439,7.024,23.421,6.303z"/>
          </g>
        </g>
      </g>
    </g>
  </g>
  <g id="Icons_2_">
    <g id="Rounded_2_" transform="translate(-548.000000, -3434.000000)">
      <g id="Navigation_2_" transform="translate(100.000000, 3378.000000)">
        <g id="_x2D_Round-_x2F_-Navigation-_x2F_-arrow_x5F_back_x5F_ios_2_" transform="translate(442.000000, 54.000000)">
          <g>
            <polygon id="Path_2_" fill="none" points="98.99,113.059 80.875,95.467 98.468,77.353 116.582,94.943            "/>
            <path id="_xD83D__xDD39_-Icon-Color_2_" fill="#ffffff" d="M88.639,98.62c0.011,0.729,0.606,1.308,1.336,1.297l12.362-0.182
              c0.58-0.008,1.042-0.483,1.034-1.064l-0.182-12.362c-0.011-0.729-0.607-1.307-1.336-1.297
              c-0.729,0.011-1.308,0.606-1.297,1.334l0.15,10.78L89.92,97.284C89.207,97.294,88.62,97.898,88.639,98.62z"/>
          </g>
        </g>
      </g>
    </g>
  </g>
  <g id="Icons_1_">
    <g id="Rounded_1_" transform="translate(-548.000000, -3434.000000)">
      <g id="Navigation_1_" transform="translate(100.000000, 3378.000000)">
        <g id="_x2D_Round-_x2F_-Navigation-_x2F_-arrow_x5F_back_x5F_ios_1_" transform="translate(442.000000, 54.000000)">
          <g>
            <polygon id="Path_1_" fill="none" points="-4.523,95.398 13.136,77.352 31.184,95.014 13.526,113.06             "/>
            <path id="_xD83D__xDD39_-Icon-Color_1_" fill="#ffffff" d="M9.955,85.103c-0.73,0.008-1.312,0.603-1.303,1.33l0.135,12.363
              c0.005,0.58,0.479,1.046,1.06,1.039l12.365-0.137c0.727-0.008,1.31-0.6,1.301-1.329c-0.009-0.729-0.602-1.31-1.33-1.303
              l-10.781,0.108L11.285,86.39C11.277,85.677,10.677,85.087,9.955,85.103z"/>
          </g>
        </g>
      </g>
    </g>
  </g>
  <g id="Icons_3_">
    <g id="Rounded_3_" transform="translate(-548.000000, -3434.000000)">
      <g id="Navigation_3_" transform="translate(100.000000, 3378.000000)">
        <g id="_x2D_Round-_x2F_-Navigation-_x2F_-arrow_x5F_back_x5F_ios_3_" transform="translate(442.000000, 54.000000)">
          <g>
            <polygon id="Path_3_" fill="none" points="116.584,9.734 98.712,27.572 80.872,9.698 98.743,-8.138            "/>
            <path id="_xD83D__xDD39_-Icon-Color_3_" fill="#ffffff" d="M101.983,19.858c0.73,0.001,1.318-0.585,1.319-1.314l0.011-12.364
              c0.002-0.581-0.467-1.051-1.048-1.053L89.899,5.12c-0.728,0-1.316,0.584-1.316,1.314c0,0.729,0.587,1.317,1.314,1.318
              l10.781,0.018l-0.009,10.787C100.668,19.269,101.262,19.866,101.983,19.858z"/>
          </g>
        </g>
      </g>
    </g>
  </g>
</g>
</svg><%= t('scan') %></li>
                    <li> <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                    width="25px" height="25px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                                                    <path id="Path2" fill="#ffffff" d="M50,0.667C22.754,0.667,0.667,22.754,0.667,50c0,27.245,22.087,49.333,49.333,49.333
  c27.245,0,49.333-22.088,49.333-49.333C99.29,22.772,77.227,0.711,50,0.667z M70.758,51.657L39.186,71.391
  c-0.311,0.188-0.664,0.296-1.026,0.315c-0.331,0.002-0.656-0.081-0.948-0.237c-0.628-0.353-1.019-1.014-1.026-1.736V30.267
  c0.007-0.72,0.398-1.383,1.026-1.737c0.619-0.377,1.396-0.377,2.013,0l31.574,19.733c0.914,0.551,1.213,1.738,0.661,2.654
  c-0.164,0.271-0.389,0.499-0.661,0.662L70.758,51.657z" />
                                                </svg>
                                                <%= t('open_the_link') %></li>
                  </ul>
                </div>
                <div class="right qr-code">
                  <div class="bg-white qr-bgiio">
                    <div class="qr-image-grid-imageContainer">
                      <%#= qr_url = @qr_code.as_svg( offset: 0, color: "000", shape_rendering: 'crispEdges', module_size: 4, standalone: true ).html_safe %>
                      <!-- <img src="" /> -->
                      <%= image_tag @qr_png_url %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <footer class="bg-audioplayer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="book-player">
    <div class="player">
      <div class="info">
        <h1><%= t('play_book_preview') %></h1>

        <div class="button-items">
          <% sort_audio_url = @book.book_files.first.short_audio_file.url rescue nil %>
          <audio id="music" autoplay="true" preload="auto">
            <source src="<%=  sort_audio_url %>">
           <!--  <source src="https://dl.dropbox.com/s/75jpngrgnavyu7f/The-Noisy-Freaks.ogg?dl=1" type="audio/ogg"> -->
          </audio>
          <div id="slider">
            <div id="elapsed"></div>
          </div>
          <p id="timer">0:00</p>
          <div class="controls">
            <button class="btn-backward">
              <svg version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 612 792" enable-background="new 0 0 612 792" xml:space="preserve">
                <g>
                    <path d="M325.125,319.5c-5.737,0-9.563-1.913-13.388-5.737l-76.5-76.5c-7.65-7.65-7.65-19.125,0-26.775l76.5-76.5
c7.65-7.65,19.125-7.65,26.775,0c7.649,7.65,7.649,19.125,0,26.775L275.4,223.875l63.113,63.112c7.649,7.65,7.649,19.125,0,26.775
C334.688,317.587,330.862,319.5,325.125,319.5z" />
                </g>
                <g>
                    <path d="M306,204.75h-19.125c-11.475,0-19.125,7.65-19.125,19.125S275.4,243,286.875,243H306
c105.188,0,191.25,86.063,191.25,191.25S411.188,625.5,306,625.5s-191.25-86.063-191.25-191.25c0-0.25,0.008-0.5,0.009-0.75h-38.25
c0,0.25-0.009,0.5-0.009,0.75c0,1.201,0.009,2.399,0.028,3.596C78.466,562.43,180.976,663.75,306,663.75
c126.225,0,229.5-103.275,229.5-229.5C535.5,308.025,432.225,204.75,306,204.75z" />
                </g>
                <text transform="matrix(1 0 0 1 137.0063 546.2256)">
                    <tspan x="0" y="0" font-family="'Arial-BoldMT'" font-size="294.6757" letter-spacing="-40">1</tspan>
                    <tspan x="123.219" y="0" font-family="'Arial-BoldMT'" font-size="294.6757">0</tspan>
                </text>
              </svg>
            </button>

            <svg id="play" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                    width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                                                    <path id="Video_Play" fill="#ffffff" d="M50,0.667C22.754,0.667,0.667,22.754,0.667,50c0,27.245,22.087,49.333,49.333,49.333
    c27.245,0,49.333-22.088,49.333-49.333C99.29,22.772,77.227,0.711,50,0.667z M70.758,51.657L39.186,71.391
    c-0.311,0.188-0.664,0.296-1.026,0.315c-0.331,0.002-0.656-0.081-0.948-0.237c-0.628-0.353-1.019-1.014-1.026-1.736V30.267
    c0.007-0.72,0.398-1.383,1.026-1.737c0.619-0.377,1.396-0.377,2.013,0l31.574,19.733c0.914,0.551,1.213,1.738,0.661,2.654
    c-0.164,0.271-0.389,0.499-0.661,0.662L70.758,51.657z" />
          </svg>


           <svg id="pause" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px"
                                                    height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                                                    <g id="Layer_1" display="none">
                                                        <path id="Path1" display="inline" fill="#ffffff" d="M50,0.667C22.754,0.667,0.667,22.754,0.667,50
    c0,27.245,22.087,49.333,49.333,49.333c27.245,0,49.333-22.088,49.333-49.333C99.29,22.772,77.227,0.711,50,0.667z M70.758,51.657
    L39.186,71.391c-0.311,0.188-0.664,0.296-1.026,0.315c-0.331,0.002-0.656-0.081-0.948-0.237c-0.628-0.353-1.019-1.014-1.026-1.736
    V30.267c0.007-0.72,0.398-1.383,1.026-1.737c0.619-0.377,1.396-0.377,2.013,0l31.574,19.733c0.914,0.551,1.213,1.738,0.661,2.654
    c-0.164,0.271-0.389,0.499-0.661,0.662L70.758,51.657z" />
                                                    </g>
                                                    <g id="Layer_2">
                                                        <g id="Icons">
                                                            <g id="Outlined" transform="translate(-170.000000, -1040.000000)">
                                                                <g id="Av" transform="translate(100.000000, 852.000000)">
                                                                    <g id="Outlined-_x2F_-AV-_x2F_-pause_x5F_circle_x5F_filled" transform="translate(68.000000, 186.000000)">
                                                                        <g>
                                                                            <polygon id="Path" fill="none" points="-6.999,-7.333 111.667,-7.333 111.667,111.333 -6.999,111.333            " />
                                                                            <path id="_xD83D__xDD39_-Icon-Color" fill="#ffffff" d="M52.334,2.556C25.043,2.556,2.89,24.707,2.89,52
              c0,27.291,22.153,49.444,49.444,49.444c27.291,0,49.444-22.153,49.444-49.444C101.778,24.707,79.625,2.556,52.334,2.556z
               M47.389,71.778H37.5V32.223h9.889V71.778z M67.168,71.778h-9.889V32.223h9.889V71.778z" />
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </svg>
            <button class="btn-forward">
              <svg version="1.1" id="Svg1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 612 792" enable-background="new 0 0 612 792" xml:space="preserve">
                <g>
                  <path d="M235.237,313.763c-7.649-7.65-7.649-19.125,0-26.775l63.113-63.112l-63.113-63.112c-7.649-7.65-7.649-19.125,0-26.775
c7.65-7.65,19.125-7.65,26.775,0l76.5,76.5c7.649,7.65,7.649,19.125,0,26.775l-76.5,76.5c-3.825,3.825-7.65,5.737-13.388,5.737
S239.063,317.587,235.237,313.763z" />
                </g>
                <g>
                  <path d="M306,204.75h19.125c11.475,0,19.125,7.65,19.125,19.125S336.6,243,325.125,243H306c-105.188,0-191.25,86.063-191.25,191.25
S200.813,625.5,306,625.5s191.25-86.063,191.25-191.25c0-0.25-0.008-0.5-0.009-0.75h38.25c0.001,0.25,0.009,0.5,0.009,0.75
c0,1.201-0.01,2.399-0.027,3.596C533.533,562.43,431.024,663.75,306,663.75c-126.225,0-229.5-103.275-229.5-229.5
C76.5,308.025,179.775,204.75,306,204.75z" />
                </g>
                <text transform="matrix(1 0 0 1 154.9946 548.2256)">
                  <tspan x="0" y="0" font-family="'Arial-BoldMT'" font-size="294.6757" letter-spacing="-40">1</tspan>
                  <tspan x="123.219" y="0" font-family="'Arial-BoldMT'" font-size="294.6757">0</tspan>
                </text>
              </svg>
            </button>

          </div>
        </div>
      </div>
    </div>
      </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-3">
              <%= link_to web_booth_path(id: @booth["number"]), id: "stop-music" do %>
                <img class="img-fluid" src="<%= asset_url('footer-logo-white.png') %>">
              <% end %>
            </div>
            <div class="col-md-9 text-right">
              <%= link_to web_booth_books_path(booth_id: @booth["number"]), class:"btn btn-light-grey btn-footer", remote: true do %>
                <img src="<%= asset_url('back-white.png') %>">
              <% end %>

              <% if params[:locale] == "en" || params[:locale] == nil %>
                <%= link_to web_booth_book_path(booth_id: @booth["number"], id: @book["id"], locale: :ar), class:"btn btn-light-grey btn-footer", remote: true do %>
                  <img src="<%= asset_url('arabic.png') %>">
                <% end %>
              <% else %>
                <%= link_to web_booth_book_path(booth_id: @booth["number"], id: @book["id"]), class:"btn btn-light-grey btn-footer", remote: true do %>
                  <img src="<%= asset_url('eng-white.png') %>">
                <% end %>
              <% end %>
              
              <%= link_to accessibility_mode_web_booth_books_path(booth_id: @booth["number"]), remote: true, class:"btn btn-light-grey btn-footer isDisabled" do %>
                <img src="<%= asset_url('access-white.png') %>">
              <% end %>
             <%= link_to  children_mode_web_booth_books_path(booth_id: @booth["number"]), class: "btn btn-light-grey btn-footer isDisabled", remote: true do %>
                <img src="<%= asset_url('baby-white.png') %>">
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script id="rendered-js">
    var music = document.getElementById("music");
    var playButton = document.getElementById("play");
    var pauseButton = document.getElementById("pause");
    var playhead = document.getElementById("elapsed");
    var timeline = document.getElementById("slider");
    var timer = document.getElementById("timer");
    var duration;
    playButton.style.visibility = "hidden";

    var timelineWidth = timeline.offsetWidth - playhead.offsetWidth;
    music.addEventListener("timeupdate", timeUpdate, false);

    function timeUpdate() {
      var playPercent = timelineWidth * (music.currentTime / duration);
      playhead.style.width = playPercent + "px";

      var total_minutes = Math.floor(music.duration / 60);
      var total_seconds = Math.floor(music.duration % 60);

      var minutes = Math.floor(music.currentTime / 60);
      var seconds = Math.floor(music.currentTime % 60);
      if (seconds < 10) {
        seconds = '0' + String(seconds);
      }
      timer.innerHTML = minutes + ':' + seconds + "/" + total_minutes + ":" + total_seconds;
    }

    playButton.onclick = function () {
      music.play();
      playButton.style.visibility = "hidden";
      pause.style.visibility = "visible";
    };

    pauseButton.onclick = function () {
      music.pause();
      playButton.style.visibility = "visible";
      pause.style.visibility = "hidden";
    };

    music.addEventListener("canplaythrough", function () {
      duration = music.duration;
    }, false);

    $(".btn-forward").click(function(){
      var music = $("#music")[0]
      if( music.currentTime < music.duration ){
        music.currentTime += 10
      }
     });

    $(".btn-backward").click(function(){
      var music = $("#music")[0]
      if( music.currentTime > 0 ){
        music.currentTime -= 10
      }
    });

    $(".playbackrate").change(function(){
      value = $(this).val()
      var music = $("#music")[0]
      music.playbackRate = value;
    });

    $("#stop-music").click(function(event){
      event.preventDefault()
      $("#music")[0].pause();
      window.location.reload();
    })
    //# sourceURL=pen.js
    $(music).bind("ended", function(){
      playButton.style.visibility = "visible";
      pause.style.visibility = "hidden";
    });

  </script>
</body>
</html>
<style>
.isDisabled {
  pointer-events: none;
}
</style>