<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
  <div class="main-wrapper">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-12 text-center">
          <div class="avatar-logo">
            <img src="<%= asset_url('logo-new.png')%>">
          </div>
        </div>
      </div>
        <div class="row justify-content-center align-items-center">
          <div class="col-md-12">
            <div class="search-wrapper mt-5">
              <%= form_tag search_web_booth_books_path(booth_id: @booth["number"]), remote: true, class: "form-group has-search position-relat", method: :get  do %>
                <span class="input-group-text">
                  <i class="fa fa-search"></i>
                </span>
                <%= text_field_tag :book, params[:book], placeholder: t('enter_book_name') , autofocus: true, class: "form-control search-box" %>
                <span class="input-group-text close-icon-1">
                  <%= button_tag type: :reset, class: "close-icon" do %>
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                  <% end %>
                </span>
              <% end %>
            </div>
          </div>
        </div>
      <div class="row justify-content-center align-items-center">
        <div class="col-md-12">
          <div class="search-tag mt-3">
            <%= link_to search_web_booth_books_path(booth_id: @booth["number"], type: "all", book: params[:book], category_id: params[:category_id]), remote: true,class: "btn btn-search-cat mr-3 #{(params[:type] == 'all' or params[:type] == nil) ? 'active' : ''}" do  %>
              <i class="fas fa-check"></i><%= t('all') %>
            <% end %>
            <%= link_to t('book_summary'),search_web_booth_books_path(booth_id: @booth["number"], type: "short", book: params[:book], category_id: params[:category_id]), remote: true, class: "btn btn-search-cat mr-3 #{params['type'] == 'short' ? 'active' : ''}" %>
            <%= link_to t('long_audiobooks'),search_web_booth_books_path(booth_id: @booth["number"], type: "long", book: params[:book], category_id: params[:category_id]), remote: true,  class: "btn btn-search-cat mr-3 #{params['type'] == 'long' ? 'active' : ''}" %> 
          </div>
        </div>
      </div>
    </div>

    <div class="fb-product_wrap-3 section-products">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="fb-section_title-2">
              <h2><%= t('top_matches') %></h2>
            </div>
          </div>
        </div>

        <div class="row">
          <% if @books.blank? %>
            No record found
          <% else %>
            <% @books.each do |book| %>
              <% book = book["attributes"] %>
              <div class="col-md-6 col-lg-3 col-xl-3">
                <div id="Div4" class="single-product">
                  <div class="part-1">
                    <span class="checkout-product-img">
                      <% img_url = book.book_files.first.book_cover_file.url rescue nil %>
                      <%= link_to web_booth_book_path(booth_id: @booth["number"], id: book["id"]), remote: true do %>
                        <img src="<%= img_url %>" class="rounded" />
                      <% end %>
                    </span>
                    <span class="discount"><i class="fa fa-headphones" aria-hidden="true"></i><%= Time.at(book["book_duration"].to_f).utc.strftime("%H:%M:%S") %> min</span>
                  </div>
                  <div class="part-2">
                    <h3 class="product-title"><%= book["title"] %></h3>
                    <h4 class="product-old-price mt-3 mb-4"><%= book["author_name"] %></h4>
                    <h6 class="author"><%= book["display_categories"] %></h6>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

 <footer class="pt-0">
    <div class="footer-overley"></div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-3">
            <%= link_to web_booth_path(id: @booth["number"]), remote: true do %>
              <img class="img-fluid" src="<%= asset_url('footer-logo-white.png') %>">
            <% end %>
          </div>
          <div class="col-md-9 text-right">
            <%= link_to web_booth_books_path(booth_id: @booth["number"]), class:"btn btn-light-grey btn-footer", remote: true do %>
                <img src="<%= asset_url('back-white.png') %>">
            <% end %>

            <% if params[:locale] == "en" || params[:locale] == nil %>
              <%= link_to web_booth_books_path(booth_id: @booth["number"], locale: :ar), class:"btn btn-light-grey btn-footer", remote: true do %>
                <img src="<%= asset_url('arabic.png') %>">
              <% end %>
            <% else %>
              <%= link_to web_booth_books_path(booth_id: @booth["number"]), class:"btn btn-light-grey btn-footer", remote: true do %>
                <img src="<%= asset_url('eng-white.png') %>">
              <% end %>
            <% end %>

            <%= link_to accessibility_mode_web_booth_books_path(booth_id: @booth["number"]), remote: true, class:"btn btn-light-grey btn-footer" do %>
              <img src="<%= asset_url('access-white.png') %>">
            <% end %>

           <%= link_to  children_mode_web_booth_books_path(booth_id: @booth["number"]), class: "btn btn-light-grey btn-footer", remote: true do %>
                <img src="<%= asset_url('baby-white.png') %>">
            <% end %>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
