<div class="wrapper login-bg d-flex">
  <div class="block-center mt-4 wd-xl justify-content-center align-self-center">
    <!-- START card-->
    <div class="card card-flat rounded-top-left rounded-bottom-right">
      <div class="card-header text-center pt-4 pb-1"><a href="#"><img class="block-center rounded" src="<%= asset_url('logo.jpg') %>" alt="Image"></a></div>
      <div class="card-body">
        <h3 class="text-center py-2 login-text">Welcome to the audio library booth system</h3><%= form_with scope: :user, url: change_password_path(auth_token: params[:auth_token]),method: :get, id: "session_create" ,local: true do |f| %>
            <div class="form-group">
              <div class="input-group with-focus">
                <%= f.password_field :password, class: "form-control bg-grey text-right", id: "exampleInputEmail1", placeholder: t("password"), autocomplete: "off", required: true %>                    
              </div>
            </div>
            <div class="form-group">
              <div class="input-group with-focus">
                <%= f.password_field :confirm_password, class: "form-control bg-grey text-right",id: "exampleInputPassword1", required: true, placeholder: t("confirm_password") %>
              </div>
            </div>
            <div class="clearfix">
              <!--<div class="checkbox c-checkbox float-left mt-0"><label><input type="checkbox" value="" name="remember"><span class="fa fa-check"></span> Remember Me</label></div>-->
              <div class="text-center for-text mt-4"><a class="" href="recover.html">Forgot password?</a></div>
            </div>
            <%= f.submit :"#{t('update_password')}", class: "btn btn-block btn-danger btn-login mt-4" %>
          <% end %>
       <!--  <p class="pt-3 text-center">Need to Signup?</p><a class="btn btn-block btn-secondary" href="register.html">Register Now</a>-->
      </div>
    </div><!-- END card-->
    <!-- <div class="p-3 text-center"><span class="mr-2">&copy;</span><span>2021</span><span class="mr-2">-</span><span>Angle</span><br><span>Bootstrap Admin Template</span></div>-->
  </div>
</div>