<div class="modal fade" id="user-detail-modal" tabindex="-1" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button class="close close-L" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <div class="row">
          <label for="example-text-input" class="col-md-3 col-form-label text-center"><%= t('user_name')%></label>
          <div class="col-md-6">
            <%= @user.full_name %>
          </div>                           
        </div>
        <div class="row">
          <label for="example-text-input" class="col-md-3 col-form-label text-center"><%= t('email')%></label>
          <div class="col-md-6">
            <%= @user.email %>
          </div>                           
        </div>
        <div class="row">
          <label for="example-text-input" class="col-md-3 col-form-label text-center"><%= t('phone_number')%></label>
          <div class="col-md-6">
            <%= @user.mobile %>
          </div>                           
        </div>
        <div class="row">
          <label for="example-text-input" class="col-md-3 col-form-label text-center"><%= t('authority')%></label>
          <div class="col-md-6">
            <%= @user.role %>
          </div>                           
        </div>
        <div class="row">
          <label for="example-text-input" class="col-md-3 col-form-label text-center"><%= t('status')%></label>
          <div class="col-md-6">
            <%= @user.status %>
          </div>                           
        </div>

      </div>

    </div>
  </div>
</div>