<div class="content-wrapper">
  <div class="content-heading">
    <div class="ml-auto">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">User</a></li>
          <li class="breadcrumb-item"><a href="#">Staff Management</a></li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- START cards box-->
  <div class="row">
    <div class="col-xl-12 col-md-6">
      <!-- START card-->
      <button class="btn btn-labeled btn-secondary-blue btn-lg btn-rdius btn-rdius-13 font-bold" type="button"><%= t('add_user') %><span class="btn-label btn-label-right"><i class="fa fa-plus"></i></span></button>
      <div class="table-responsive mt-3">
        <table class="table table-bordered table-hover" id="table-ext-1">
          <thead>
            <tr>
              <th class="text-danger">#</th>
              <th class="text-danger"><%= t('name') %></th>
              <th class="text-danger"><%= t('email') %></th>
              <th class="text-danger"><%= t('phone_number') %></th>
              <th class="text-danger"><%= t('authority') %></th>
              <th class="text-danger"><%= t('status') %></th>
              <th class="text-danger"><%= t('last_login') %></th>
              <th class="text-danger"><%= t('setting') %></th>

            </tr>
          </thead>
          <tbody>
            <% if @users.blank? %>
              <tr><%= t('no_record_present')%></tr>
            <% else %>
              <% @users.each_with_index do |user, i|%>
              <tr>
                <td class="text-danger"><%= i %></td>
                <td class="text-center"><%= user.full_name %></td>
                <td><%= user.email %></td>
                <td><%= user.mobile %></td>
                <td><%= user.role %></td>
                <td>
                  <% if user.status == 1 %>
                    <label class="badge badge-green">Active</label> 
                  <% elsif user.status == 0 %>
                    <label class="badge badge-danger">Blocked</label>
                  <% else %>
                    <label class="badge badge-green">In Active</label>
                  <% end %>
                </td>
                <td><%= user.last_login_at %></td>
                <td><i class="fa fa-cog fa-2x text-danger"></i></td>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="card-footer">
        <div class="d-flex">
          <div>
            <nav>
              <ul class="pagination pagination-sm">
                <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item active"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
              </ul>
            </nav>
          </div>
          <div class="ml-auto">
            <div class="dataTables_info" id="datatable1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- END cards box-->
</div>
