<div class="modal fade" id="book-edit-modal" tabindex="-1" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="modal-title text-center" id="H1"><%= t('update_book')%></h4>
        <button class="close close-L" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

        <div class="mt-3">
          <%= form_with scope: :book, html: {id: "book-update-form"}, url: book_path(id: @book["id"]), method: :put do |f| %>
          <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label"><%= t('book_title') %></label>
            <div class="col-md-10">
              <%= f.text_field :title, value: book["title"], class: "form-control text-center",placeholder: t('book_title') %>
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label"><%= t('book_arabic_title') %></label>
            <div class="col-md-10">
              <%= f.text_field :arabic_title, value: book["arabic_title"], class: "form-control text-center",placeholder: t('book_arabic_title') %>
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label"><%= t('book_arabic_author_name') %></label>
            <div class="col-md-10">
              <%= f.text_field :arabic_author_name, value: book["arabic_author_name"], class:"form-control text-center", placeholder: t('book_arabic_author_name') %>
              <%#= f.select :user_id, options_for_select(User.all.pluck(:full_name, :id)), { include_blank: true},class: "custom-select custom-select-sm" %>
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label"><%= t('author_name') %></label>
            <div class="col-md-10">
              <%= f.text_field :author_name, value: book["author_name"], class:"form-control text-center", placeholder: t('author_name') %>
              <%#= f.select :user_id, options_for_select(User.all.pluck(:full_name, :id)), { include_blank: true},class: "custom-select custom-select-sm" %>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 col-form-label pr-0"><%= t('book_duration') %></label>
            <div class="col-md-4">
              <div class="row">
                <% book_duration = Time.at(book["book_duration"]).utc.strftime("%H:%M:%S") %>
                <div class="col-lg-12">
                  <input name="only_show", class= "form-control text-center update-book-duration-show" value= "<%= book_duration %>" readonly="true">
                  <%= f.text_field :book_duration, value: book_duration, class: "form-control text-center update-book-duration", placeholder: t('book_duration'), readonly: true, hidden: true %>
                </div>
              </div>
            </div>

            <label class="col-md-2 col-form-label"><%= t('category') %></label>
            <div class="col-md-4">
              <div class="row">
                <div class="col-lg-12" data-controller="select2">
                  <%= f.select :category_ids, options_for_select(@category_options, selected: book["selected_categories_id"]), { include_blank: true},{multiple: true, id: "update-category-dropdown", style: "width: 33.75em;"} %>
                </div>
              </div>
            </div>

          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label"><%= t('language') %></label>
            <div class="col-md-10">
              <%= f.select :audio_type, options_for_select([["Short",'Short'],["Long", "Long"]], selected: book["audio_type"]), { include_blank: true}, {class: "form-control"} %>
            </div>
          </div>


          <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label"><%= t('audio_type') %></label>
            <div class="col-md-10">
              <%= f.select :language, options_for_select([["English",'English'],["Arabic", "Arabic"],["French", "French"]], selected: book["language"]), { include_blank: true}, {class: "form-control"} %>
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label"><%= t('about_the_book') %></label>
            <div class="col-md-10">
              <%= f.text_area :body, value: book["body"], class: "form-control text-center", placeholder: t('about_the_book') %>
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label"><%= t('about_the_book_arabic') %></label>
            <div class="col-md-10">
              <%= f.text_area :arabic_body, value: book["arabic_body"], class: "form-control text-center", placeholder: t('about_the_book_arabic') %>
            </div>
          </div>
          <!-- Note: Need to check this  -->
          <h4 class="modal-title text-center mb-4" id="H1"><%= t('audio_book_files') %></h4>
          <div class="form-group row">
            <label class="col-md-2 col-form-label pr-0"><%= t('book_cover') %></label>
            <div class="col-md-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <%= f.file_field :book_cover_file,id: "update-book-cover-field", class: "mb-1", placeholder: "upload file" %>
                    <% src = nil %>
                    <% if book["cover"].present? %>
                      <% src = book["cover"] %>
                    <% end %>
                    <div class="update-upload-preview" style="margin-top: 10px;">
                      <img style="width: 50%; height: 50%;" src=<%= src %>/>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <label class="col-md-2 col-form-label"><%= t("audio_file") %></label>
            <div class="col-md-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <%= f.file_field :audio, class: "mb-2", placeholder: "upload file", id: "update-book-audio-field"%>
                    <% audio_src = nil %>
                    <% if book["longg"].present? %>
                      <% audio_src = book["longg"] %>
                    <% end %>
                    <div class="update-upload-audio-preview" style="margin-top: 10px;">
                      <audio  controls="controls" src="<%= audio_src %>" id="update_long_audio"></audio>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label"></label>
            <div class="col-md-4">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <%= button_tag( :class => "btn btn-labeled btn-secondary-blue btn-rdius btn-rdius-13 font-bold") do %>
                    <%= t('update') %> <span class='btn-label btn-label-right'><i class='fa fa-plus'></i></span>
                  <% end %>
                </div>
              </div>
            </div>
            <label class="col-md-2 col-form-label"><%= t("short_audio") %></label>
            <div class="col-md-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <%= f.file_field :short_audio_file, class: "mb-2", placeholder: "upload file", id: "update-book-short-audio-field" %>
                    <% short_audio_src = nil %>
                    <% if book["short"].present? %>
                      <% short_audio_src = book["short"] %>
                    <% end %>
                    <div class="update-upload-short-audio-preview" style="margin-top: 10px;">
                      <audio  controls="controls" src="<%= short_audio_src %>" id="update_short_audio"></audio>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#update-category-dropdown").select2();

    var preview = $(".update-upload-preview img");
    var audio_preview = $(".update-upload-audio-preview audio")
    var short_audio_preview = $(".update-upload-short-audio-preview audio")


    $("#update-book-cover-field").change(function(event){
      var input = $(event.currentTarget);
      var file = input[0].files[0];
      var file_extention = $("#update-book-cover-field").val().split('.').pop().toLowerCase();
      if($.inArray(file_extention, ['gif','png','jpg','jpeg']) == -1) {
        alert('File has invalid extension only png, jpg, jpeg file is supported!');
        $("#update-book-cover-field").val('');
        return
      }
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
    });

    $("#update-book-audio-field").change(function(event){
      var audio_input = $(event.currentTarget);
      var file = audio_input[0].files[0]
      var file_extention = $("#update-book-audio-field").val().split('.').pop().toLowerCase();
      if($.inArray(file_extention, ['mp3']) == -1) {
        alert('File has invalid extension only mp3 file is supported!');
        $("#update-book-audio-field").val('');
        return
      }
      var reader = new FileReader();
      reader.onload = function(e){
        audio_base64 = e.target.result;
        audio_preview.attr("src", audio_base64);
      };
      reader.readAsDataURL(file);
      setTimeout(function() {
        // duration in second
        var duration = $("#update_long_audio")[0].duration;
        duration = Number(duration)
        var hours = Math.floor( duration / 3600);
        var total_seconds = duration % 3600;
        var minute = Math.floor(total_seconds / 60);
        var second = Math.floor(total_seconds % 60);
        $(".update-book-duration").val(duration);
        debugger
        $(".update-book-duration-show").val(hours + ":" + minute + ":" + second);
      }, 2000);
    });

    $("#update-book-short-audio-field").change(function(event){
      var audio_input = $(event.currentTarget);
      var file = audio_input[0].files[0]
      var file_extention = $("#update-book-short-audio-field").val().split('.').pop().toLowerCase();
      if($.inArray(file_extention, ['mp3']) == -1) {
        alert('File has invalid extension only mp3 file is supported!');
        $("#update-book-short-audio-field").val('');
        return
      }
      var reader = new FileReader();
      reader.onload = function(e){
        audio_base64 = e.target.result;
        short_audio_preview.attr("src", audio_base64);
      };
      reader.readAsDataURL(file);
    });

    // $("#book-update-form").submit(function(e){
    //   var duration = $("#update_long_audio")[0].duration;
    //   duration = duration || 0
    //   $(".update-book-duration").val(duration);
    //   event.preventDefault()
    //   var form_data = new FormData(this);
    //   $.ajax({
    //       url : '<%= "#{ENV["API_BASE_URL"]}/api/books/#{book["id"]}" %>',
    //       type : 'put',
    //       data : form_data,
    //       processData: false,
    //       contentType: false,
    //       headers: {
    //         Authorization: "<%= "Bearer #{session[:token]}" %>"
    //       },
    //       success : function(data) {              
    //        alert("data save")
    //        var url = "<%= books_url %>"
    //        window.location.href = url
    //       },
    //       error : function(request,error)
    //       {
    //        alert("their is some issue");
    //       }
    //     })
    // });
    $("#book-update-form").submit(function(e){
       var duration = $("#update_long_audio")[0].duration;
        duration = duration || 0
       $(".update-book-duration").val(duration);
    });


  });

</script>