<div class="content-wrapper">
  <div class="content-heading">
    <div class="ml-auto">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
          </ol>
        </nav>
      </div>
  </div>
  <!-- START cards box-->
  <div class="row">
    <div class="col-xl-4 col-md-6">
      <!-- START card-->
      <div class="card flex-row align-items-center align-items-stretch border-0">
        <!--  <div class="col-4 d-flex align-items-center bg-orange-dark justify-content-center rounded-left"><em class="icon-cloud-upload fa-3x"></em></div>-->
        <div class="col-12 py-1 bg-orange text-center">
          <div class="box-text">Listening</div>
          <div class="h3 mt-0 mb-2"><%= @data["operations_count"] %></div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6">
      <!-- START card-->
      <div class="card flex-row align-items-center align-items-stretch border-0">
        <div class="col-12 py-1 bg-bluee text-center">
          <div class="box-text">Books</div>
          <div class="h3 mt-0 mb-2"><%= @data["books_count"] %></div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-12">
      <!-- START card-->
      <div class="card flex-row align-items-center align-items-stretch border-0">
        <div class="col-12 py-1 bg-warning text-center">
          <div class="box-text">Booths</div>
          <div class="h3 mt-0 mb-2"><%= @data["booths_count"] %></div>
        </div>
      </div>
    </div>

  </div>
    <!-- END cards box-->
  <div class="row">
    <!-- START dashboard main content-->
    <div class="col-xl-4">
      <!-- START chart-->
      <div class="row">
        <div class="col-xl-12">
          <!-- START card-->
          <div class="card card-default card-demo p-3" id="Div1">
            <h5 class="text-center mt-2 mb-4">Device connection status</h5>
            <table class="table text-center border">
              <tbody>
                <tr>
                  <td class="text-success">Online</td>
                  <td>Mark</td>
                </tr>
                <tr>
                  <td class="text-success">Online</td>
                  <td>Mark</td>
                </tr>
                  <tr>
                  <td class="text-success">Online</td>
                  <td>Mark</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- END card-->
        </div>
      </div>
    </div>
    <!-- END dashboard main content-->
    <div class="col-xl-4">
      <div class="card card-default" id="cardChart5">
        <div class="card-body">
          <h5>Listen by category</h5>
          <%= pie_chart  @data["category_group"] %>
        </div>
      </div>
    </div>

    <!-- START dashboard sidebar-->
    <!-- END dashboard sidebar-->
    <div class="col-xl-4">
      <div class="card card-default" id="cardChart5">
        <div class="card-body">
          <h5>Top Booth</h5>
          <%= column_chart @data["booth_details"] %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4">
      <div class="row">
        <div class="col-xl-12">
          <div class="card card-default card-demo p-3" id="Div1">
            <h5 class="text-center mt-2 mb-4">Last 10 Day Listening</h5>
            <%= column_chart @data["last_10_day_listing"] %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card card-default" id="cardChart5">
        <div class="card-body">
          <h5>Service Evaluation</h5>
          <%= column_chart @data["rating_wise_group"]  %>
        </div>
      </div>
    </div>

    <!-- START dashboard sidebar-->
    <!-- END dashboard sidebar-->
    <div class="col-xl-4">
      <div class="card card-default" id="cardChart5">
        <div class="card-body">
          <h5>Top 5 Book</h5>
          <%= bar_chart @data["book_details"] %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4">
      <div class="row">
        <div class="col-xl-12">
          <div class="card card-default card-demo p-3" id="Div1">
            <h5 class="text-center mt-2 mb-4">Listening Duration</h5>
            <%= pie_chart @data["book_listening_type"] %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card card-default" id="cardChart5">
        <div class="card-body">
          <h5>Service Evaluation</h5>
          <%= pie_chart  @data["category_group"] %>
        </div>
      </div>
    </div>

    <!-- START dashboard sidebar-->
    <!-- END dashboard sidebar-->
    <div class="col-xl-4">
      <div class="card card-default" id="cardChart5">
        <div class="card-body">
          <h5>Book Listening Language</h5>
          <%= pie_chart @data["book_language_detail"] %>
        </div>
      </div>
    </div>
  </div>
</div>
