<div class="row">
  <div class="col-xl-12 col-md-6">  
    <div class="table-responsive mt-3">
      <table class="table table-bordered table-hover" id="table-ext-1">
        <thead>
          <tr>
            <th class="text-danger"><%= t('booth_name')%></th>
            <th><%= t('number') %></th>
            <th><%= t('action') %></th>
          </tr>
        </thead>
        <tbody>
          <% if @booths.blank? %>
            <tr><%= t('no_record_present') %></tr>
          <% else %>
            <% @booths.each_with_index do |booth, i|%>
              <% booth = booth["attributes"] %>
              <tr>
                <td><%= booth["name"] %></td>
                <td><%= booth["number"] %></td>
                <td><%= link_to "Show", web_booth_path(id: booth["number"]) %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>  