<%= render 'web/booths/timer' %>

<div class="book-index-page"></div>
<div class="book-show-page"></div>

<div class="booth-show">
<section class="login-wrapper">
    <div class="login-overlay">
    <div class="css-1jx6fr94">
    <div class="css-1nz39sc">
        <div class="css-i54jlg">
            <div class="right">
                <div class="tickerListContainer">
                    <div class="tickerList">
                        <%= @book_cover_urls.to_a.each_slice(2) do |url1, url2|%>
                        <div>
                            <div class="book-cov6h6">
                                <a href="#">
                                    <img src="<%= url1 %>"  />
                                </a>
                            </div>
                            <div class="book-cov6h6">
                                <a href="#">
                                <img src="<%= url2 %>"  />
                                </a>
                            </div>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
    <div class="container">
        <div class="row">
            <div class="login-box col-md-12">
                <div class="theme-form login-form text-center">
                    <div>
                        <img class="logo" src="<%= asset_url('logo-new.png') %>">
                        <h1>مكتبة الكتب الصوتية</h1>
                        <h1 class="mt-5">Audiobooks Library</h1>
                    </div>

                    <div class="form-group button-sec">
                   
                        <div class="mb-5">
                        <%= link_to "ابدأ الخدمة", web_booth_books_path(booth_id: @booth["number"], locale: :ar), class: "btn btn-primary btn-theme", remote: true %>
                        </div>
                        <div >
                        <%= link_to "Start", web_booth_books_path(booth_id: @booth["number"]), class: "btn btn-primary btn-theme", remote: true %>
                        </div>
                        <div >
                        <%= link_to "Commencer", web_booth_books_path(booth_id: @booth["number"], locale: :fr), class: "btn btn-primary btn-theme", remote: true %>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <footer style="height:104px;padding: 37px 0;">
    <div class="container">
        <div class="row align-items-center">
        <div class="col-md-3">
            <%= link_to web_booth_path(id: @booth["number"]) do %>
                <img class="img-fluid" src="<%= asset_url('footer-logo-white.png') %>">
            <% end %>
        </div>    
        </div>
    </div>
    </footer>
</section>
</div>