<div class="modal fade" id="category-edit-modal" tabindex="-1" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="modal-title text-center" id="H1"><%= t('add_category')%></h4>
        <button class="close close-L" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

        <div class="mt-3">
          <%= form_with scope: :category, html: {id: "category_update_form"}, url: category_path(id: @category["id"]), method: :put do |f| %>
          <div class="form-group row">
               <label for="example-text-input" class="col-md-3 col-form-label text-center"><%= t('name')%></label>
            <div class="col-md-9">
              <%= f.text_field :name, value: @category["name"], class:"form-control text-center", placeholder: t('category_name') %>
            </div>                         
          </div>
          <div class="form-group row">
               <label for="example-text-input" class="col-md-3 col-form-label text-center"><%= t('arabic_name')%></label>
            <div class="col-md-9">
              <%= f.text_field :arabic_name, value: @category["arabic_name"], class:"form-control text-center", placeholder: t('arabic_name') %>
            </div>                         
          </div>

          <div class="form-group row">
               <label for="example-text-input" class="col-md-3 col-form-label text-center"><%= t('icon')%></label>
            <div class="col-md-9">
              <%= f.file_field :icon, id: "update-category-icon"%>
            </div>                         
          </div>
          <div class="update-upload-preview" style="margin-top: 10px;">
            <% url = nil %>
            <% url = @category["icon_url"] if @category["icon_url"].present? %>
            <img  src= "<%= url %>" style="width: 30%; height: 30%;"/>
          </div>

          <div class="form-group row">
               <label for="example-text-input" class="col-md-3 col-form-label text-center"><%= t('white_icon')%></label>
            <div class="col-md-9">
              <%= f.file_field :white_icon, id: "update-category-white-icon"%>
            </div>                         
          </div>
          <div class="update-upload-white-preview" style="margin-top: 10px;">
            <% url = nil %>
            <% url = @category["white_icon_url"] if @category["white_icon_url"].present? %>
            <img src="<%= url %>" style="width: 30%; height: 30%;"/>
          </div>

          <div class="form-group row">
            <div class="col-md-12 text-center">
              <%= button_tag( :class => "btn btn-labeled btn-secondary-blue btn-rdius btn-rdius-13 font-bold") do %>
                <%= t('update') %> <span class="btn-label btn-label-right"><i class="fa fa-sync-alt"></i></span>              
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    var preview = $(".update-upload-preview img");
    var white_preview = $(".update-upload-white-preview img")

    $("#update-category-icon").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
    });

    $("#update-category-white-icon").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           white_preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
    });
  });

  $("#category_update_form").submit(function(event){
      event.preventDefault()
      var form_data = new FormData(this);
      $.ajax({
          url : '<%= "#{ENV["API_BASE_URL"]}/api/categories/#{@category["id"]}" %>',
          type : 'put',
          data : form_data,
          processData: false,
          contentType: false,
          headers: {
            Authorization: "<%= "Bearer #{session[:token]}" %>"
          },
          success : function(data) {              
           alert("data save")
           var url = "<%= categories_url %>"
           window.location.href = url
          },
          error : function(request,error)
          { 
            var url = "<%= categories_url %>"
            alert("Some thing went wrong")
            window.location.href = url
          }
        })
    });
</script>