<div class="content-wrapper">
  <div class="content-heading">
    <div class="ml-auto">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#"><%= t('category') %></a></li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- START cards box-->
  <div class="row">
    <div class="col-xl-12 col-md-6">
      <!-- START card-->
      <button class="btn btn-labeled btn-secondary-blue btn-lg btn-rdius btn-rdius-13 font-bold" type="button" data-toggle="modal" data-target="#myModal"><%= t('add_category') %> <span class="btn-label btn-label-right"><i class="fa fa-plus"></i></span></button>
      <div class="table-responsive mt-3">
        <table class="table table-bordered table-hover" id="table-ext-1">
          <thead>
            <tr>                                 
              <th class="text-danger">#</th>
              <th class="text-danger"><%= t('category_name') %></th> 
              <th class="text-danger"><%= t('arabic_name') %></th>
              <th class="text-danger"><%= t('icon') %></th>
              <th class="text-danger"><%= t('white_icon') %></th>  
              <th class="text-danger"><%= t('booth_location') %></th>
              <th class="text-danger"><%= t('data_of_category_creation') %></th>
              <th class="text-danger"><%= t('setting') %></th>
            </tr>
          </thead>
          <tbody>
            <% if @categories.blank? %>
              <tr><%= t('no_record_present') %></tr>
            <% else %>
              <% @categories.each_with_index do |category, i|%>
                <% category = category["attributes"]%>
                <tr>
                  <td class="text-danger"><%= ( i + 1) %></td>
                  <td><%= category["name"] %></td>
                  <td><%= category["arabic_name"] %></td>
                  <td><img src="<%= category["icon_url"] if category["icon_url"].present? %>" class="cat-icon-img"></td>
                  <td><img src="<%= category["white_icon_url"] if category["white_icon_url"].present? %>" class="cat-icon-img"></td>
                  <td>
                    <div class="pl-2 pr-2">
                      <%= select_tag t('booth'), options_for_select(category["booths"]), class: "custom-select custom-select-sm text-center"%>
                    </div>
                  </td>
                  <td><%= category["created_at"] %></td>
                  <td>
                    <%= link_to "<i class='fa fa-cog fa-2x text-danger'></i>".html_safe, setting_category_path(id:category["id"]) ,remote: true%>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="card-footer">
    <div class="d-flex">
      <div class="ml-auto">
        <nav>
          <ul class="pagination pagination-sm">
            <%#= will_paginate @categories%>
          </ul>
        </nav>
     </div>
    </div>
   </div>
    </div>
  </div>
  <!-- END cards box-->
</div>

<%= render 'form_modal'%>

<div id="edit-modal"></div>
<div id="category-action"></div>
<div id="detail-modal"></div>

<style>
  .cat-icon-img {
    width: 35px;
    height: 35px;
  }
</style>