<div class="content-wrapper">
  <div class="content-heading">
    <div class="ml-auto">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#"><%= t('category') %></a></li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- START cards box-->
  <div class="row">
    <div class="col-xl-12 col-md-6">
      <!-- START card-->
      <button class="btn btn-labeled btn-secondary-blue btn-lg btn-rdius btn-rdius-13 font-bold" type="button" data-toggle="modal" data-target="#myModal"><%= t('add_category') %> <span class="btn-label btn-label-right"><i class="fa fa-plus"></i></span></button>
      <div class="table-responsive mt-3">
        <table class="table table-bordered table-hover" id="table-ext-1">
          <thead>
            <tr>                                 
              <th class="text-danger">#</th>
              <th class="text-danger"><%= t('category_name') %></th> 
              <th class="text-danger"><%= t('arabic_name') %></th>
              <th class="text-danger"><%= t('french_name') %></th>
              <th class="text-danger"><%= t('icon') %></th>
              <th class="text-danger"><%= t('white_icon') %></th>  
              <th class="text-danger"><%= t('booth_location') %></th>
              <th class="text-danger"><%= t('data_of_category_creation') %></th>
              <th class="text-danger"><%= t('setting') %></th>
            </tr>
          </thead>
          <tbody>
            <% if @categories.blank? %>
              <tr><%= t('no_record_present') %></tr>
            <% else %>
              <% @categories.each_with_index do |category, i|%>
                <% category = category["attributes"]%>
                <tr>
                  <td class="text-danger"><%= ( i + 1) %></td>
                  <td><%= category["name"] %></td>
                  <td><%= category["arabic_name"] %></td>
                  <td><%= category["french_name"] %></td>
                  <td><img src="<%= category["logo"] if category["logo"].present? %>" class="cat-icon-img"></td>
                  <td><img src="<%= category["white_logo"] if category["white_logo"].present? %>" class="cat-icon-img"></td>
                  <td>
                    <div class="pl-2 pr-2">
                      <%= select_tag t('booth'), options_for_select(category["booths"]), class: "custom-select custom-select-sm text-center"%>
                    </div>
                  </td>
                  <td><%= Time.parse(category["created_at"]).strftime('%Y-%m-%d %l:%M %p') rescue nil %></td>
                  <td>
                    <%= link_to "<i class='fa fa-cog fa-2x text-danger'></i>".html_safe, setting_category_path(id:category["id"]) ,remote: true%>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="card-footer">
        <div class="d-flex">
          <% if @pagination_data.present? %>
<!--       <div>
            <div class="dataTables_info" id="datatable1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
          </div> -->
            <div class="ml-auto">
              <nav>
                <ul class="pagination pagination-sm">
                  <% if (@pagination_data["page"]- 1) == 0 %>
                    <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                  <% else %>
                    <li class="page-item"><a class="page-link" href="<%= categories_path(page: @pagination_data["page"]- 1) %>" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                  <% end %>
                  <% if ( @pagination_data["page"] - 1 ) != 0 %>
                    <li class="page-item"><a class="page-link" href="<%= categories_path(page: @pagination_data["page"]- 1) %>" aria-label="Previous"><span aria-hidden="true"><%= (@pagination_data["page"] - 1) %></span></a></li>
                  <% end %>

                  <li class="page-item"><a class="page-link" href="#" %><%= @pagination_data["page"] %></a></li>

                  <% if @pagination_data["total_pages"] >= ( @pagination_data["page"] + 1 )%>
                    <li class="page-item"><a class="page-link" href="<%= categories_path(page: @pagination_data["page"] + 1) %>" aria-label="Previous"><span aria-hidden="true"><%= (@pagination_data["page"] + 1) %></span></a></li>
                  <% end %>
                  
                  <% if @pagination_data["page"] == @pagination_data["total_pages"] %>
                    <li class="page-item disabled"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                  <% else %>
                    <li class="page-item"><a class="page-link" href="<%= categories_path(page: @pagination_data["page"] + 1 ) %>" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                  <% end %>
                
                </ul>
              </nav>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
  <!-- END cards box-->
</div>

<%= render 'form_modal'%>

<div id="edit-modal"></div>
<div id="category-action"></div>
<div id="detail-modal"></div>

<style>
  .cat-icon-img {
    width: 35px;
    height: 35px;
  }
</style>
<script>
$(document).ready(function() {
    $('#table-ext-1').DataTable();
});
</script>

<style>
.dataTables_length {
    right: 590px;
}
</style>