<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />
  <meta name="apple-mobile-web-app-title" content="CodePen">
  <link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />
  <link rel="mask-icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />
  <title></title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
</head>

<%= javascript_pack_tag 'mobile' %>
<%= stylesheet_pack_tag 'mobile' %>

<body translate="no">
  <div class="main-content" style="background-image: url(<%= asset_url('bg.jpg')%>); background-size: contain; background-repeat: no-repeat; background-color: #6f1946">
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="text-center">
            <% if @operation.rating.blank? and @operation.note.blank? %>
              <div class="btn-group rating-btn w-80">
                <button type="button" class="btn btn-secondary text-left btn-lg btn-block" data-toggle="modal" data-target="#bottom_modal"><i class="fa fa-star"></i>Rate your experience</button>
                <span class="button-left"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-9 mx-auto mt-4 mb-4">
          <div class="text-center" id="Mframe">
            <div id="Div8" class="single-product">
              <div class="part-1">
                <span class="checkout-product-img">
                  <% img_url = @book.book_files.first.book_cover_file.url rescue nil %>
                  <a href="">
                    <img src="<%= img_url %>" class="rounded">
                  </a>
                </span>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="part-2" id="Mpart2">
            <h3 class="product-title"><%= @book.title %></h3>
            <div class="author-de text-center mt-2 mb-2">
              <div class="fu3kk d-flex justify-content-center">
                <div><%= @book.author_name %></div>
               <div><%= @book.categories.first.name rescue nil %></div>
               </div>
             </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="book-player">
             <div class="player">
                <div class="info mt-2">
                  <div class="button-items">
                    <% audio_url = @book.book_files.first.audio.url rescue nil %>
                    <audio id="music" preload="auto">
                      <source src="<%= audio_url %>" type="audio/mp3">
                    </audio>
                    <div id="slider">
                      <div id="elapsed"></div>
                    </div>
                    <p id="timer">0:00</p>
                    <div class="controls">

                      <button class="btn-backward">
                        <svg version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 612 792" enable-background="new 0 0 612 792" xml:space="preserve">
                          <g>
                              <path d="M325.125,319.5c-5.737,0-9.563-1.913-13.388-5.737l-76.5-76.5c-7.65-7.65-7.65-19.125,0-26.775l76.5-76.5
c7.65-7.65,19.125-7.65,26.775,0c7.649,7.65,7.649,19.125,0,26.775L275.4,223.875l63.113,63.112c7.649,7.65,7.649,19.125,0,26.775
C334.688,317.587,330.862,319.5,325.125,319.5z" />
                          </g>
                          <g>
                              <path d="M306,204.75h-19.125c-11.475,0-19.125,7.65-19.125,19.125S275.4,243,286.875,243H306
c105.188,0,191.25,86.063,191.25,191.25S411.188,625.5,306,625.5s-191.25-86.063-191.25-191.25c0-0.25,0.008-0.5,0.009-0.75h-38.25
c0,0.25-0.009,0.5-0.009,0.75c0,1.201,0.009,2.399,0.028,3.596C78.466,562.43,180.976,663.75,306,663.75
c126.225,0,229.5-103.275,229.5-229.5C535.5,308.025,432.225,204.75,306,204.75z" />
                          </g>
                          <text transform="matrix(1 0 0 1 137.0063 546.2256)">
                              <tspan x="0" y="0" font-family="'Arial-BoldMT'" font-size="294.6757" letter-spacing="-40">1</tspan>
                              <tspan x="123.219" y="0" font-family="'Arial-BoldMT'" font-size="294.6757">0</tspan>
                          </text>
                        </svg>
                      </button>

                      <svg id="play" viewBox="0 0 25 25" xml:space="preserve">
                        <defs>
                          <rect x="-49.5" y="-132.9" width="446.4" height="366.4" />
                        </defs>
                        <g>
                          <circle fill="none" cx="12.5" cy="12.5" r="10.8" />
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M8.7,6.9V18c0,0,0.2,1.4,1.8,0l8.1-4.8c0,0,1.2-1.1-1-2L9.8,6.5 C9.8,6.5,9.1,6,8.7,6.9z" />
                        </g>
                      </svg>


                      <svg id="pause" viewBox="0 0 25 25" xml:space="preserve">
                        <g>
                          <rect x="6" y="4.6" width="3.8" height="15.7" />
                          <rect x="14" y="4.6" width="3.9" height="15.7" />
                        </g>
                      </svg>

                      <button class="btn-forward">
                        <svg version="1.1" id="Svg1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 612 792" enable-background="new 0 0 612 792" xml:space="preserve">
                          <g>
                            <path d="M235.237,313.763c-7.649-7.65-7.649-19.125,0-26.775l63.113-63.112l-63.113-63.112c-7.649-7.65-7.649-19.125,0-26.775
    c7.65-7.65,19.125-7.65,26.775,0l76.5,76.5c7.649,7.65,7.649,19.125,0,26.775l-76.5,76.5c-3.825,3.825-7.65,5.737-13.388,5.737
    S239.063,317.587,235.237,313.763z" />
                          </g>
                          <g>
                            <path d="M306,204.75h19.125c11.475,0,19.125,7.65,19.125,19.125S336.6,243,325.125,243H306c-105.188,0-191.25,86.063-191.25,191.25
    S200.813,625.5,306,625.5s191.25-86.063,191.25-191.25c0-0.25-0.008-0.5-0.009-0.75h38.25c0.001,0.25,0.009,0.5,0.009,0.75
    c0,1.201-0.01,2.399-0.027,3.596C533.533,562.43,431.024,663.75,306,663.75c-126.225,0-229.5-103.275-229.5-229.5
    C76.5,308.025,179.775,204.75,306,204.75z" />
                          </g>
                          <text transform="matrix(1 0 0 1 154.9946 548.2256)">
                            <tspan x="0" y="0" font-family="'Arial-BoldMT'" font-size="294.6757" letter-spacing="-40">1</tspan>
                            <tspan x="123.219" y="0" font-family="'Arial-BoldMT'" font-size="294.6757">0</tspan>
                          </text>
                        </svg>
                      </button>

                    </div>
                    <div class="audio-no">
                       <label> <%= select_tag "play_speed", options_for_select([["0.25x", 0.25],["0.5x", 0.5], ["0.7x", 0.75], ["1x", 1], ["1.25x", 1.25],["1.50x", 1.50],["1.75x", 1.75], ["2x", 2]], :selected=>1), {:class =>"playbackrate browser-default custom-select"} %>
                       </label> 

                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div> 
  </div>
  <div class="modal modal-bottom fade" id="bottom_modal" tabindex="-1" role="dialog" aria-labelledby="bottom_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content top-bor-rad">
        <div class="modal-header">
          <h3 class="modal-title">Rate your experience</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <div class="feedback">
            <div class="rating">
              <input type="radio" name="rating" id="rating-5">
              <label for="rating-5"></label>
              <input type="radio" name="rating" id="rating-4">
              <label for="rating-4"></label>
              <input type="radio" name="rating" id="rating-3">
              <label for="rating-3"></label>
              <input type="radio" name="rating" id="rating-2">
              <label for="rating-2"></label>
              <input type="radio" name="rating" id="rating-1">
              <label for="rating-1"></label>
              <div class="emoji-wrapper">
                <div class="emoji">
                  <svg class="rating-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <circle cx="256" cy="256" r="256" fill="#ffd93b" />
                    <path d="M512 256c0 141.44-114.64 256-256 256-80.48 0-152.32-37.12-199.28-95.28 43.92 35.52 99.84 56.72 160.72 56.72 141.36 0 256-114.56 256-256 0-60.88-21.2-116.8-56.72-160.72C474.8 103.68 512 175.52 512 256z" fill="#f4c534" />
                    <ellipse transform="scale(-1) rotate(31.21 715.433 -595.455)" cx="166.318" cy="199.829" rx="56.146" ry="56.13" fill="#fff" />
                    <ellipse transform="rotate(-148.804 180.87 175.82)" cx="180.871" cy="175.822" rx="28.048" ry="28.08" fill="#3e4347" />
                    <ellipse transform="rotate(-113.778 194.434 165.995)" cx="194.433" cy="165.993" rx="8.016" ry="5.296" fill="#5a5f63" />
                    <ellipse transform="scale(-1) rotate(31.21 715.397 -1237.664)" cx="345.695" cy="199.819" rx="56.146" ry="56.13" fill="#fff" />
                    <ellipse transform="rotate(-148.804 360.25 175.837)" cx="360.252" cy="175.84" rx="28.048" ry="28.08" fill="#3e4347" />
                    <ellipse transform="scale(-1) rotate(66.227 254.508 -573.138)" cx="373.794" cy="165.987" rx="8.016" ry="5.296" fill="#5a5f63" />
                    <path d="M370.56 344.4c0 7.696-6.224 13.92-13.92 13.92H155.36c-7.616 0-13.92-6.224-13.92-13.92s6.304-13.92 13.92-13.92h201.296c7.696.016 13.904 6.224 13.904 13.92z" fill="#3e4347" />
                  </svg>
                  <svg class="rating-1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="825.5px"
                    height="227px" viewBox="0 310.5 825.5 227" enable-background="new 0 310.5 825.5 227" xml:space="preserve">
                    <g id="G1">
                      <text transform="matrix(1 0 0 1 235.7578 470.2861)" font-family="'MyriadPro-Bold'" font-size="146.1346">Very Bad</text>
                    </g>
                    <g id="Layer_2" display="none">
                      <path display="inline" fill="#F1CB30" d="M113.933,327.826c-53.031,0-96.174,43.144-96.174,96.174
  c0,53.03,43.144,96.174,96.174,96.174c53.029,0,96.174-43.144,96.174-96.174C210.107,370.969,166.962,327.826,113.933,327.826z" />
                      <path display="inline" fill="#DF6246" d="M149.791,447.492c-3.414-3.414-8.949-3.413-12.364,0
  c-4.827,4.829-10.784,7.854-17.026,9.084c-0.04,0.007-0.079,0.018-0.118,0.025c-0.489,0.094-0.981,0.177-1.474,0.249
  c-0.035,0.004-0.068,0.011-0.104,0.017c-0.119,0.017-0.24,0.026-0.359,0.043c-1.465,0.194-2.938,0.298-4.412,0.298
  c-2.3,0-4.598-0.245-6.858-0.72c-0.814-0.17-1.625-0.365-2.428-0.598c-0.059-0.017-0.12-0.03-0.178-0.049
  c-0.405-0.119-0.807-0.254-1.208-0.39c-0.108-0.037-0.216-0.065-0.324-0.103c-4.061-1.418-7.898-3.644-11.259-6.681
  c-0.42-0.378-0.834-0.771-1.238-1.177c-3.414-3.413-8.95-3.413-12.364,0c-3.415,3.415-3.415,8.951,0,12.365
  c9.887,9.886,22.869,14.83,35.858,14.83c12.984,0,25.973-4.945,35.857-14.83C153.206,456.443,153.206,450.907,149.791,447.492z" />
                      <path display="inline" fill="#DD512A" d="M107.075,456.488c-0.814-0.17-1.625-0.365-2.429-0.598
  c-0.058-0.017-0.119-0.03-0.178-0.049c-0.404-0.119-0.806-0.254-1.208-0.39c-0.107-0.037-0.216-0.065-0.324-0.103
  c-4.059-1.418-7.897-3.646-11.258-6.681c-0.42-0.378-0.834-0.771-1.238-1.177c-3.414-3.413-8.95-3.413-12.364,0
  c-3.414,3.415-3.414,8.952,0,12.366c9.888,9.887,22.869,14.829,35.858,14.829v-17.479
  C111.633,457.208,109.334,456.963,107.075,456.488z" />
                      <g display="inline">
                        <path fill="#57575C" d="M151.237,393.69c-3.066,0-6.073,1.242-8.241,3.416c-2.17,2.168-3.417,5.171-3.417,8.241
    c0,3.073,1.247,6.072,3.417,8.241c2.168,2.175,5.175,3.417,8.241,3.417c3.071,0,6.073-1.242,8.241-3.417
    c2.169-2.166,3.416-5.168,3.416-8.241c0-3.07-1.247-6.073-3.416-8.241C157.31,394.933,154.308,393.69,151.237,393.69z" />
                        <path fill="#57575C" d="M84.871,413.589c2.169-2.166,3.416-5.175,3.416-8.241c0-3.065-1.248-6.073-3.416-8.241
    c-2.168-2.174-5.176-3.416-8.242-3.416c-3.072,0-6.073,1.242-8.241,3.416c-2.174,2.168-3.416,5.176-3.416,8.241
    c0,3.066,1.242,6.072,3.416,8.241c2.168,2.175,5.169,3.417,8.241,3.417C79.694,417.006,82.702,415.764,84.871,413.589z" />
                      </g>
                      <g display="inline">
                        <path fill="#F1CB30" d="M120.282,456.602c0.039-0.008,0.078-0.019,0.118-0.025C120.36,456.583,120.321,456.594,120.282,456.602z" />
                        <path fill="#F1CB30" d="M118.343,456.91c-1.463,0.194-2.937,0.298-4.41,0.298l0,0C115.407,457.208,116.88,457.104,118.343,456.91z
    " />
                        <path fill="#F1CB30" d="M118.705,456.867c0.035-0.006,0.068-0.015,0.104-0.017C118.773,456.853,118.74,456.86,118.705,456.867z" />
                      </g>
                    </g>
                    <g id="Layer_3">
                      <ellipse fill="#FFC10E" cx="113.941" cy="423.958" rx="96.219" ry="95.374" />
                      <g>
                        <path fill="#333333" d="M162.547,471.101c-26.89-27.214-70.755-27.101-97.489,0.284c-3.407,3.487,1.959,8.818,5.37,5.323
    c23.903-24.483,62.688-24.633,86.748-0.284C160.608,479.899,165.976,474.571,162.547,471.101L162.547,471.101z" />
                        <ellipse fill="#333333" cx="84.694" cy="391.063" rx="15.112" ry="14.979" />
                        <ellipse fill="#333333" cx="141.838" cy="391.063" rx="15.11" ry="14.979" />
                      </g>
                    </g>
                    <g id="Layer_4">
                      <circle fill="#E02753" cx="113.653" cy="425.523" r="95.832" />
                      <path fill="#E02753" d="M113.653,329.691v191.664c52.927,0,95.832-42.905,95.832-95.832S166.58,329.691,113.653,329.691z" />
                      <g>
                        <path fill="#58575D" d="M95.602,483.426l-14.336-4.842c2.877-8.521,7.422-15.028,13.511-19.345
    c5.337-3.781,11.864-5.781,18.876-5.781c15.435,0,27.25,9.193,32.42,25.226l-14.402,4.645
    c-3.152-9.781-9.214-14.738-18.018-14.738C104.878,468.59,98.974,473.442,95.602,483.426z" />
                        <path fill="#58575D" d="M90.956,438.132c-5.563,0-10.087-4.524-10.087-10.086c0-5.563,4.525-10.089,10.087-10.089
    c5.563,0,10.087,4.526,10.087,10.089C101.042,433.608,96.517,438.132,90.956,438.132z" />
                      </g>
                      <g>
                        <path fill="#454449" d="M136.351,438.132c-5.562,0-10.087-4.524-10.087-10.086c0-5.563,4.525-10.089,10.087-10.089
    c5.563,0,10.087,4.526,10.087,10.089C146.436,433.608,141.911,438.132,136.351,438.132z" />

                        <rect x="138.863" y="366.771" transform="matrix(0.4856 0.8742 -0.8742 0.4856 418.6496 74.021)" fill="#454449" width="15.132" height="51.933" />
                      </g>

                      <rect x="54.91" y="385.171" transform="matrix(0.8742 0.4856 -0.4856 0.8742 200.8798 10.1376)" fill="#58575D" width="51.932" height="15.132" />
                      <path fill="#454449" d="M113.653,453.458v15.132c8.804,0,14.865,4.959,18.018,14.738l14.401-4.645
  C140.904,462.651,129.088,453.458,113.653,453.458z" />
                    </g>
                  </svg>
                  <svg class="rating-2" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="825.5px"
                    height="227px" viewBox="0 310.5 825.5 227" enable-background="new 0 310.5 825.5 227" xml:space="preserve">
                    <g id="G2">
                      <text transform="matrix(1 0 0 1 377.7197 484.8799)" font-family="'MyriadPro-Bold'" font-size="170.7589">Bad</text>
                    </g>
                    <g id="G3" display="none">
                      <path display="inline" fill="#F1CB30" d="M113.933,327.826c-53.031,0-96.174,43.144-96.174,96.174
  c0,53.03,43.144,96.174,96.174,96.174c53.029,0,96.174-43.144,96.174-96.174C210.107,370.969,166.962,327.826,113.933,327.826z" />
                      <path display="inline" fill="#DF6246" d="M149.791,447.492c-3.414-3.414-8.949-3.413-12.364,0
  c-4.827,4.829-10.784,7.854-17.026,9.084c-0.04,0.007-0.079,0.018-0.118,0.025c-0.489,0.094-0.981,0.177-1.474,0.249
  c-0.035,0.004-0.068,0.011-0.104,0.017c-0.119,0.017-0.24,0.026-0.359,0.043c-1.465,0.194-2.938,0.298-4.412,0.298
  c-2.3,0-4.598-0.245-6.858-0.72c-0.814-0.17-1.625-0.365-2.428-0.598c-0.059-0.017-0.12-0.03-0.178-0.049
  c-0.405-0.119-0.807-0.254-1.208-0.39c-0.108-0.037-0.216-0.065-0.324-0.103c-4.061-1.418-7.898-3.644-11.259-6.681
  c-0.42-0.378-0.834-0.771-1.238-1.177c-3.414-3.413-8.95-3.413-12.364,0c-3.415,3.415-3.415,8.951,0,12.365
  c9.887,9.886,22.869,14.83,35.858,14.83c12.984,0,25.973-4.945,35.857-14.83C153.206,456.443,153.206,450.907,149.791,447.492z" />
                      <path display="inline" fill="#DD512A" d="M107.075,456.488c-0.814-0.17-1.625-0.365-2.429-0.598
  c-0.058-0.017-0.119-0.03-0.178-0.049c-0.404-0.119-0.806-0.254-1.208-0.39c-0.107-0.037-0.216-0.065-0.324-0.103
  c-4.059-1.418-7.897-3.646-11.258-6.681c-0.42-0.378-0.834-0.771-1.238-1.177c-3.414-3.413-8.95-3.413-12.364,0
  c-3.414,3.415-3.414,8.952,0,12.366c9.888,9.887,22.869,14.829,35.858,14.829v-17.479
  C111.633,457.208,109.334,456.963,107.075,456.488z" />
                      <g display="inline">
                        <path fill="#57575C" d="M151.237,393.69c-3.066,0-6.073,1.242-8.241,3.416c-2.17,2.168-3.417,5.171-3.417,8.241
    c0,3.073,1.247,6.072,3.417,8.241c2.168,2.175,5.175,3.417,8.241,3.417c3.071,0,6.073-1.242,8.241-3.417
    c2.169-2.166,3.416-5.168,3.416-8.241c0-3.07-1.247-6.073-3.416-8.241C157.31,394.933,154.308,393.69,151.237,393.69z" />
                        <path fill="#57575C" d="M84.871,413.589c2.169-2.166,3.416-5.175,3.416-8.241c0-3.065-1.248-6.073-3.416-8.241
    c-2.168-2.174-5.176-3.416-8.242-3.416c-3.072,0-6.073,1.242-8.241,3.416c-2.174,2.168-3.416,5.176-3.416,8.241
    c0,3.066,1.242,6.072,3.416,8.241c2.168,2.175,5.169,3.417,8.241,3.417C79.694,417.006,82.702,415.764,84.871,413.589z" />
                      </g>
                      <g display="inline">
                        <path fill="#F1CB30" d="M120.282,456.602c0.039-0.008,0.078-0.019,0.118-0.025C120.36,456.583,120.321,456.594,120.282,456.602z" />
                        <path fill="#F1CB30" d="M118.343,456.91c-1.463,0.194-2.937,0.298-4.41,0.298l0,0C115.407,457.208,116.88,457.104,118.343,456.91z
    " />
                        <path fill="#F1CB30" d="M118.705,456.867c0.035-0.006,0.068-0.015,0.104-0.017C118.773,456.853,118.74,456.86,118.705,456.867z" />
                      </g>
                    </g>
                    <g id="G4">
                      <ellipse fill="#FFC10E" cx="244.758" cy="425.958" rx="104.033" ry="103.119" />
                      <g>
                        <path fill="#333333" d="M297.311,476.929c-29.073-29.424-76.501-29.301-105.406,0.308c-3.683,3.771,2.118,9.534,5.806,5.755
    c25.845-26.472,67.779-26.633,93.792-0.307C295.214,486.442,301.018,480.682,297.311,476.929L297.311,476.929z" />
                        <ellipse fill="#333333" cx="213.136" cy="390.391" rx="16.339" ry="16.195" />
                        <path fill="#333333" d="M274.92,374.196c9.021,0,16.337,7.25,16.337,16.195c0,8.944-7.315,16.195-16.337,16.195
    c-9.025,0-16.34-7.251-16.34-16.195C258.58,381.446,265.895,374.196,274.92,374.196z" />
                      </g>
                    </g>
                    <g id="G10" display="none">
                      <circle display="inline" fill="#E02753" cx="113.653" cy="425.523" r="95.832" />
                      <path display="inline" fill="#E02753" d="M113.653,329.691v191.664c52.927,0,95.832-42.905,95.832-95.832
  S166.58,329.691,113.653,329.691z" />
                      <g display="inline">
                        <path fill="#58575D" d="M95.602,483.426l-14.336-4.842c2.877-8.521,7.422-15.028,13.511-19.345
    c5.337-3.781,11.864-5.781,18.876-5.781c15.435,0,27.25,9.193,32.42,25.226l-14.402,4.645
    c-3.152-9.781-9.214-14.738-18.018-14.738C104.878,468.59,98.974,473.442,95.602,483.426z" />
                        <path fill="#58575D" d="M90.956,438.132c-5.563,0-10.087-4.524-10.087-10.086c0-5.563,4.525-10.089,10.087-10.089
    c5.563,0,10.087,4.526,10.087,10.089C101.042,433.608,96.517,438.132,90.956,438.132z" />
                      </g>
                      <g display="inline">
                        <path fill="#454449" d="M136.351,438.132c-5.562,0-10.087-4.524-10.087-10.086c0-5.563,4.525-10.089,10.087-10.089
    c5.563,0,10.087,4.526,10.087,10.089C146.436,433.608,141.911,438.132,136.351,438.132z" />

                        <rect x="138.863" y="366.771" transform="matrix(0.4856 0.8742 -0.8742 0.4856 418.6496 74.021)" fill="#454449" width="15.132" height="51.933" />
                      </g>

                      <rect x="54.91" y="385.171" transform="matrix(0.8742 0.4856 -0.4856 0.8742 200.8798 10.1376)" display="inline" fill="#58575D" width="51.932" height="15.132" />
                      <path display="inline" fill="#454449" d="M113.653,453.458v15.132c8.804,0,14.865,4.959,18.018,14.738l14.401-4.645
  C140.904,462.651,129.088,453.458,113.653,453.458z" />
                    </g>
                    <g id="G11" display="none">
                      <rect x="116.188" y="395.004" display="inline" fill="#4B6DAA" width="51.902" height="133.463" />
                      <circle display="inline" fill="#D8A852" cx="142.139" cy="495.102" r="14.83" />
                      <path display="inline" fill="#FBCE9D" d="M308.967,417.248c0-8.188-6.641-14.828-14.829-14.828h-33.366h-11.123h-13.353
  l3.664-17.125c2.795-13.064,2.046-28.987,0.385-40.171c-1.661-11.185-11.678-24.265-22.159-24.265h-0.885
  c-8.935,0-12.138,9.858-12.138,22.244c0,60.244-29.659,59.318-29.659,59.318h-7.415v118.633h55.609h37.074h14.829
  c8.189,0,14.829-6.64,14.829-14.828c0-8.189-6.64-14.83-14.829-14.83h11.122c8.189,0,14.829-6.641,14.829-14.828
  c0-8.19-6.64-14.831-14.829-14.831h11.122c8.19,0,14.83-6.639,14.83-14.828c0-9.243-5.981-12.76-14.83-14.073
  c-4.313-0.642-12.146-0.756-14.829-0.756h11.122C302.326,432.078,308.967,425.438,308.967,417.248z" />
                      <path display="inline" fill="#F7B563" d="M303.853,428.371h-46.788c-2.046,0-3.707,1.655-3.707,3.707
  c0,2.049,1.661,3.707,3.707,3.707h49.885c-2.436-1.493-5.516-2.421-9.104-2.951c-4.313-0.642-12.146-0.756-14.829-0.756h11.122
  C297.875,432.078,301.245,430.65,303.853,428.371z" />
                      <path display="inline" fill="#F7B563" d="M307.557,458.029h-50.492c-2.046,0-3.707,1.656-3.707,3.706
  c0,2.051,1.661,3.708,3.707,3.708h39.376c-2.607-2.279-5.98-3.708-9.717-3.708h11.122
  C301.582,461.735,304.951,460.31,307.557,458.029z" />
                      <path display="inline" fill="#F7B563" d="M296.436,487.688h-46.787c-2.045,0-3.707,1.656-3.707,3.707
  c0,2.05,1.662,3.707,3.707,3.707h35.669c-2.606-2.28-5.979-3.707-9.717-3.707h11.122
  C290.46,491.395,293.83,489.967,296.436,487.688z" />
                    </g>
                  </svg>
                  <svg class="rating-3" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="825.5px"
                    height="227px" viewBox="0 310.5 825.5 227" enable-background="new 0 310.5 825.5 227" xml:space="preserve">
                    <g id="G12">
                      <text transform="matrix(1 0 0 1 234.9277 483.0889)" font-family="'MyriadPro-Bold'" font-size="175.1393">Normal</text>
                    </g>
                    <g id="G13">
                      <path fill="#F1CB30" d="M113.094,327.33c-54.391,0-98.642,44.25-98.642,98.642c0,54.391,44.25,98.641,98.642,98.641
  c54.39,0,98.641-44.25,98.641-98.641C211.734,371.581,167.483,327.33,113.094,327.33z" />
                      <path fill="#DF6246" d="M149.871,450.066c-3.501-3.502-9.179-3.5-12.681,0c-4.951,4.953-11.061,8.056-17.463,9.317
  c-0.041,0.007-0.081,0.018-0.121,0.025c-0.502,0.097-1.006,0.182-1.511,0.256c-0.036,0.004-0.07,0.011-0.106,0.017
  c-0.122,0.018-0.246,0.027-0.369,0.045c-1.502,0.199-3.013,0.305-4.524,0.305c-2.359,0-4.716-0.251-7.035-0.738
  c-0.835-0.174-1.667-0.374-2.49-0.612c-0.061-0.018-0.123-0.031-0.183-0.051c-0.416-0.122-0.827-0.26-1.239-0.399
  c-0.111-0.038-0.222-0.066-0.332-0.104c-4.165-1.455-8.101-3.737-11.548-6.853c-0.431-0.388-0.855-0.79-1.27-1.207
  c-3.501-3.5-9.18-3.5-12.681,0c-3.503,3.503-3.503,9.181,0,12.683c10.141,10.14,23.455,15.211,36.778,15.211
  c13.317,0,26.639-5.072,36.776-15.211C153.374,459.247,153.374,453.569,149.871,450.066z" />
                      <path fill="#DD512A" d="M106.059,459.293c-0.835-0.174-1.667-0.374-2.491-0.612c-0.06-0.018-0.122-0.031-0.183-0.051
  c-0.415-0.122-0.827-0.26-1.239-0.399c-0.11-0.038-0.221-0.066-0.332-0.104c-4.163-1.455-8.1-3.74-11.547-6.853
  c-0.431-0.388-0.855-0.79-1.27-1.207c-3.501-3.5-9.179-3.5-12.681,0c-3.502,3.503-3.502,9.182,0,12.684
  c10.141,10.141,23.456,15.21,36.778,15.21v-17.928C110.735,460.031,108.377,459.78,106.059,459.293z" />
                      <g>
                        <path fill="#57575C" d="M151.354,394.885c-3.145,0-6.229,1.274-8.453,3.504c-2.226,2.224-3.504,5.303-3.504,8.452
    c0,3.152,1.279,6.229,3.504,8.453c2.224,2.23,5.308,3.504,8.453,3.504c3.15,0,6.229-1.273,8.453-3.504
    c2.225-2.222,3.504-5.301,3.504-8.453c0-3.149-1.279-6.229-3.504-8.452C157.583,396.159,154.504,394.885,151.354,394.885z" />
                        <path fill="#57575C" d="M83.286,415.294c2.225-2.222,3.503-5.308,3.503-8.453c0-3.144-1.279-6.229-3.503-8.452
    c-2.224-2.23-5.309-3.504-8.454-3.504c-3.151,0-6.229,1.274-8.453,3.504c-2.23,2.224-3.504,5.309-3.504,8.452
    c0,3.146,1.274,6.229,3.504,8.453c2.224,2.23,5.301,3.504,8.453,3.504C77.977,418.798,81.062,417.524,83.286,415.294z" />
                      </g>
                      <g>
                        <path fill="#F1CB30" d="M119.605,459.409c0.04-0.008,0.08-0.019,0.121-0.025C119.685,459.391,119.645,459.401,119.605,459.409z" />
                        <path fill="#F1CB30" d="M117.617,459.727c-1.5,0.199-3.012,0.305-4.523,0.305l0,0
    C114.605,460.031,116.116,459.926,117.617,459.727z" />
                        <path fill="#F1CB30" d="M117.987,459.682c0.036-0.006,0.07-0.015,0.106-0.017C118.058,459.667,118.023,459.675,117.987,459.682z" />
                      </g>
                    </g>
                    <g id="G14" display="none">
                      <ellipse display="inline" fill="#FFC10E" cx="244.758" cy="425.958" rx="104.033" ry="103.119" />
                      <g display="inline">
                        <path fill="#333333" d="M297.311,476.929c-29.073-29.424-76.501-29.301-105.406,0.308c-3.683,3.771,2.118,9.534,5.806,5.755
    c25.845-26.472,67.779-26.633,93.792-0.307C295.214,486.442,301.018,480.682,297.311,476.929L297.311,476.929z" />
                        <ellipse fill="#333333" cx="213.136" cy="390.391" rx="16.339" ry="16.195" />
                        <path fill="#333333" d="M274.92,374.196c9.021,0,16.337,7.25,16.337,16.195c0,8.944-7.315,16.195-16.337,16.195
    c-9.025,0-16.34-7.251-16.34-16.195C258.58,381.446,265.895,374.196,274.92,374.196z" />
                      </g>
                    </g>
                    <g id="G15" display="none">
                      <circle display="inline" fill="#E02753" cx="113.653" cy="425.523" r="95.832" />
                      <path display="inline" fill="#E02753" d="M113.653,329.691v191.664c52.927,0,95.832-42.905,95.832-95.832
  S166.58,329.691,113.653,329.691z" />
                      <g display="inline">
                        <path fill="#58575D" d="M95.602,483.426l-14.336-4.842c2.877-8.521,7.422-15.028,13.511-19.345
    c5.337-3.781,11.864-5.781,18.876-5.781c15.435,0,27.25,9.193,32.42,25.226l-14.402,4.645
    c-3.152-9.781-9.214-14.738-18.018-14.738C104.878,468.59,98.974,473.442,95.602,483.426z" />
                        <path fill="#58575D" d="M90.956,438.132c-5.563,0-10.087-4.524-10.087-10.086c0-5.563,4.525-10.089,10.087-10.089
    c5.563,0,10.087,4.526,10.087,10.089C101.042,433.608,96.517,438.132,90.956,438.132z" />
                      </g>
                      <g display="inline">
                        <path fill="#454449" d="M136.351,438.132c-5.562,0-10.087-4.524-10.087-10.086c0-5.563,4.525-10.089,10.087-10.089
    c5.563,0,10.087,4.526,10.087,10.089C146.436,433.608,141.911,438.132,136.351,438.132z" />

                        <rect x="138.863" y="366.771" transform="matrix(0.4856 0.8742 -0.8742 0.4856 418.6496 74.021)" fill="#454449" width="15.132" height="51.933" />
                      </g>

                      <rect x="54.91" y="385.171" transform="matrix(0.8742 0.4856 -0.4856 0.8742 200.8798 10.1376)" display="inline" fill="#58575D" width="51.932" height="15.132" />
                      <path display="inline" fill="#454449" d="M113.653,453.458v15.132c8.804,0,14.865,4.959,18.018,14.738l14.401-4.645
  C140.904,462.651,129.088,453.458,113.653,453.458z" />
                    </g>
                    <g id="G16" display="none">
                      <rect x="116.188" y="395.004" display="inline" fill="#4B6DAA" width="51.902" height="133.463" />
                      <circle display="inline" fill="#D8A852" cx="142.139" cy="495.102" r="14.83" />
                      <path display="inline" fill="#FBCE9D" d="M308.967,417.248c0-8.188-6.641-14.828-14.829-14.828h-33.366h-11.123h-13.353
  l3.664-17.125c2.795-13.064,2.046-28.987,0.385-40.171c-1.661-11.185-11.678-24.265-22.159-24.265h-0.885
  c-8.935,0-12.138,9.858-12.138,22.244c0,60.244-29.659,59.318-29.659,59.318h-7.415v118.633h55.609h37.074h14.829
  c8.189,0,14.829-6.64,14.829-14.828c0-8.189-6.64-14.83-14.829-14.83h11.122c8.189,0,14.829-6.641,14.829-14.828
  c0-8.19-6.64-14.831-14.829-14.831h11.122c8.19,0,14.83-6.639,14.83-14.828c0-9.243-5.981-12.76-14.83-14.073
  c-4.313-0.642-12.146-0.756-14.829-0.756h11.122C302.326,432.078,308.967,425.438,308.967,417.248z" />
                      <path display="inline" fill="#F7B563" d="M303.853,428.371h-46.788c-2.046,0-3.707,1.655-3.707,3.707
  c0,2.049,1.661,3.707,3.707,3.707h49.885c-2.436-1.493-5.516-2.421-9.104-2.951c-4.313-0.642-12.146-0.756-14.829-0.756h11.122
  C297.875,432.078,301.245,430.65,303.853,428.371z" />
                      <path display="inline" fill="#F7B563" d="M307.557,458.029h-50.492c-2.046,0-3.707,1.656-3.707,3.706
  c0,2.051,1.661,3.708,3.707,3.708h39.376c-2.607-2.279-5.98-3.708-9.717-3.708h11.122
  C301.582,461.735,304.951,460.31,307.557,458.029z" />
                      <path display="inline" fill="#F7B563" d="M296.436,487.688h-46.787c-2.045,0-3.707,1.656-3.707,3.707
  c0,2.05,1.662,3.707,3.707,3.707h35.669c-2.606-2.28-5.979-3.707-9.717-3.707h11.122
  C290.46,491.395,293.83,489.967,296.436,487.688z" />
                    </g>
                  </svg>
                  <svg class="rating-4" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="825.5px"
                    height="227px" viewBox="0 310.5 825.5 227" enable-background="new 0 310.5 825.5 227" xml:space="preserve">
                    <g id="G6">
                      <g>
                        <text transform="matrix(1 0 0 1 309.9277 498.9316)" font-family="'MyriadPro-Bold'" font-size="188.2328">Good</text>
                      </g>
                    </g>
                    <g id="G7" display="none">
                      <path display="inline" fill="#F1CB30" d="M113.094,327.33c-54.391,0-98.642,44.25-98.642,98.642
  c0,54.391,44.25,98.641,98.642,98.641c54.39,0,98.641-44.25,98.641-98.641C211.734,371.581,167.483,327.33,113.094,327.33z" />
                      <path display="inline" fill="#DF6246" d="M149.871,450.066c-3.501-3.502-9.179-3.5-12.681,0
  c-4.951,4.953-11.061,8.056-17.463,9.317c-0.041,0.007-0.081,0.018-0.121,0.025c-0.502,0.097-1.006,0.182-1.511,0.256
  c-0.036,0.004-0.07,0.011-0.106,0.017c-0.122,0.018-0.246,0.027-0.369,0.045c-1.502,0.199-3.013,0.305-4.524,0.305
  c-2.359,0-4.716-0.251-7.035-0.738c-0.835-0.174-1.667-0.374-2.49-0.612c-0.061-0.018-0.123-0.031-0.183-0.051
  c-0.416-0.122-0.827-0.26-1.239-0.399c-0.111-0.038-0.222-0.066-0.332-0.104c-4.165-1.455-8.101-3.737-11.548-6.853
  c-0.431-0.388-0.855-0.79-1.27-1.207c-3.501-3.5-9.18-3.5-12.681,0c-3.503,3.503-3.503,9.181,0,12.683
  c10.141,10.14,23.455,15.211,36.778,15.211c13.317,0,26.639-5.072,36.776-15.211C153.374,459.247,153.374,453.569,149.871,450.066z
  " />
                      <path display="inline" fill="#DD512A" d="M106.059,459.293c-0.835-0.174-1.667-0.374-2.491-0.612
  c-0.06-0.018-0.122-0.031-0.183-0.051c-0.415-0.122-0.827-0.26-1.239-0.399c-0.11-0.038-0.221-0.066-0.332-0.104
  c-4.163-1.455-8.1-3.74-11.547-6.853c-0.431-0.388-0.855-0.79-1.27-1.207c-3.501-3.5-9.179-3.5-12.681,0
  c-3.502,3.503-3.502,9.182,0,12.684c10.141,10.141,23.456,15.21,36.778,15.21v-17.928
  C110.735,460.031,108.377,459.78,106.059,459.293z" />
                      <g display="inline">
                        <path fill="#57575C" d="M151.354,394.885c-3.145,0-6.229,1.274-8.453,3.504c-2.226,2.224-3.504,5.303-3.504,8.452
    c0,3.152,1.279,6.229,3.504,8.453c2.224,2.23,5.308,3.504,8.453,3.504c3.15,0,6.229-1.273,8.453-3.504
    c2.225-2.222,3.504-5.301,3.504-8.453c0-3.149-1.279-6.229-3.504-8.452C157.583,396.159,154.504,394.885,151.354,394.885z" />
                        <path fill="#57575C" d="M83.286,415.294c2.225-2.222,3.503-5.308,3.503-8.453c0-3.144-1.279-6.229-3.503-8.452
    c-2.224-2.23-5.309-3.504-8.454-3.504c-3.151,0-6.229,1.274-8.453,3.504c-2.23,2.224-3.504,5.309-3.504,8.452
    c0,3.146,1.274,6.229,3.504,8.453c2.224,2.23,5.301,3.504,8.453,3.504C77.977,418.798,81.062,417.524,83.286,415.294z" />
                      </g>
                      <g display="inline">
                        <path fill="#F1CB30" d="M119.605,459.409c0.04-0.008,0.08-0.019,0.121-0.025C119.685,459.391,119.645,459.401,119.605,459.409z" />
                        <path fill="#F1CB30" d="M117.617,459.727c-1.5,0.199-3.012,0.305-4.523,0.305l0,0
    C114.605,460.031,116.116,459.926,117.617,459.727z" />
                        <path fill="#F1CB30" d="M117.987,459.682c0.036-0.006,0.07-0.015,0.106-0.017C118.058,459.667,118.023,459.675,117.987,459.682z" />
                      </g>
                    </g>
                    <g id="G8" display="none">
                      <ellipse display="inline" fill="#FFC10E" cx="244.758" cy="425.958" rx="104.033" ry="103.119" />
                      <g display="inline">
                        <path fill="#333333" d="M297.311,476.929c-29.073-29.424-76.501-29.301-105.406,0.308c-3.683,3.771,2.118,9.534,5.806,5.755
    c25.845-26.472,67.779-26.633,93.792-0.307C295.214,486.442,301.018,480.682,297.311,476.929L297.311,476.929z" />
                        <ellipse fill="#333333" cx="213.136" cy="390.391" rx="16.339" ry="16.195" />
                        <path fill="#333333" d="M274.92,374.196c9.021,0,16.337,7.25,16.337,16.195c0,8.944-7.315,16.195-16.337,16.195
    c-9.025,0-16.34-7.251-16.34-16.195C258.58,381.446,265.895,374.196,274.92,374.196z" />
                      </g>
                    </g>
                    <g id="G9" display="none">
                      <circle display="inline" fill="#E02753" cx="113.653" cy="425.523" r="95.832" />
                      <path display="inline" fill="#E02753" d="M113.653,329.691v191.664c52.927,0,95.832-42.905,95.832-95.832
  S166.58,329.691,113.653,329.691z" />
                      <g display="inline">
                        <path fill="#58575D" d="M95.602,483.426l-14.336-4.842c2.877-8.521,7.422-15.028,13.511-19.345
    c5.337-3.781,11.864-5.781,18.876-5.781c15.435,0,27.25,9.193,32.42,25.226l-14.402,4.645
    c-3.152-9.781-9.214-14.738-18.018-14.738C104.878,468.59,98.974,473.442,95.602,483.426z" />
                        <path fill="#58575D" d="M90.956,438.132c-5.563,0-10.087-4.524-10.087-10.086c0-5.563,4.525-10.089,10.087-10.089
    c5.563,0,10.087,4.526,10.087,10.089C101.042,433.608,96.517,438.132,90.956,438.132z" />
                      </g>
                      <g display="inline">
                        <path fill="#454449" d="M136.351,438.132c-5.562,0-10.087-4.524-10.087-10.086c0-5.563,4.525-10.089,10.087-10.089
    c5.563,0,10.087,4.526,10.087,10.089C146.436,433.608,141.911,438.132,136.351,438.132z" />

                        <rect x="138.863" y="366.771" transform="matrix(0.4856 0.8742 -0.8742 0.4856 418.6496 74.021)" fill="#454449" width="15.132" height="51.933" />
                      </g>

                      <rect x="54.91" y="385.171" transform="matrix(0.8742 0.4856 -0.4856 0.8742 200.8798 10.1376)" display="inline" fill="#58575D" width="51.932" height="15.132" />
                      <path display="inline" fill="#454449" d="M113.653,453.458v15.132c8.804,0,14.865,4.959,18.018,14.738l14.401-4.645
  C140.904,462.651,129.088,453.458,113.653,453.458z" />
                    </g>
                    <g id="Layer_5">
                      <rect x="86.188" y="388.004" fill="#4B6DAA" width="51.902" height="133.463" />
                      <circle fill="#D8A852" cx="112.139" cy="488.102" r="14.83" />
                      <path fill="#FBCE9D" d="M278.967,410.248c0-8.188-6.641-14.828-14.829-14.828h-33.366h-11.123h-13.353l3.664-17.125
  c2.795-13.064,2.046-28.987,0.385-40.171c-1.661-11.185-11.678-24.265-22.159-24.265h-0.885c-8.935,0-12.138,9.858-12.138,22.244
  c0,60.244-29.659,59.318-29.659,59.318h-7.415v118.633h55.609h37.074h14.829c8.189,0,14.829-6.64,14.829-14.828
  c0-8.189-6.64-14.83-14.829-14.83h11.122c8.189,0,14.829-6.641,14.829-14.828c0-8.19-6.64-14.831-14.829-14.831h11.122
  c8.19,0,14.83-6.639,14.83-14.828c0-9.243-5.981-12.76-14.83-14.073c-4.313-0.642-12.146-0.756-14.829-0.756h11.122
  C272.326,425.078,278.967,418.438,278.967,410.248z" />
                      <path fill="#F7B563" d="M273.853,421.371h-46.788c-2.046,0-3.707,1.655-3.707,3.707c0,2.049,1.661,3.707,3.707,3.707h49.885
  c-2.436-1.493-5.516-2.421-9.104-2.951c-4.313-0.642-12.146-0.756-14.829-0.756h11.122
  C267.875,425.078,271.245,423.65,273.853,421.371z" />
                      <path fill="#F7B563" d="M277.557,451.029h-50.492c-2.046,0-3.707,1.656-3.707,3.706c0,2.051,1.661,3.708,3.707,3.708h39.376
  c-2.607-2.279-5.98-3.708-9.717-3.708h11.122C271.582,454.735,274.951,453.31,277.557,451.029z" />
                      <path fill="#F7B563" d="M266.436,480.688h-46.787c-2.045,0-3.707,1.656-3.707,3.707c0,2.05,1.662,3.707,3.707,3.707h35.669
  c-2.606-2.28-5.979-3.707-9.717-3.707h11.122C260.46,484.395,263.83,482.967,266.436,480.688z" />
                    </g>
                  </svg>
                  <svg class="rating-5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 310.5 825.5 227" enable-background="new 0 310.5 825.5 227" xml:space="preserve">
                    <g id="Layer_1">
                      <g>
                        <text transform="matrix(1 0 0 1 224.9277 467.9316)" font-family="'MyriadPro-Bold'" font-size="131">Awesome! </text>
                      </g>
                    </g>
                    <g id="G5" display="none">
                      <path display="inline" fill="#F1CB30" d="M113.094,327.33c-54.391,0-98.642,44.25-98.642,98.642
  c0,54.391,44.25,98.641,98.642,98.641c54.39,0,98.641-44.25,98.641-98.641C211.734,371.581,167.483,327.33,113.094,327.33z" />
                      <path display="inline" fill="#DF6246" d="M149.871,450.066c-3.501-3.502-9.179-3.5-12.681,0
  c-4.951,4.953-11.061,8.056-17.463,9.317c-0.041,0.007-0.081,0.018-0.121,0.025c-0.502,0.097-1.006,0.182-1.511,0.256
  c-0.036,0.004-0.07,0.011-0.106,0.017c-0.122,0.018-0.246,0.027-0.369,0.045c-1.502,0.199-3.013,0.305-4.524,0.305
  c-2.359,0-4.716-0.251-7.035-0.738c-0.835-0.174-1.667-0.374-2.49-0.612c-0.061-0.018-0.123-0.031-0.183-0.051
  c-0.416-0.122-0.827-0.26-1.239-0.399c-0.111-0.038-0.222-0.066-0.332-0.104c-4.165-1.455-8.101-3.737-11.548-6.853
  c-0.431-0.388-0.855-0.79-1.27-1.207c-3.501-3.5-9.18-3.5-12.681,0c-3.503,3.503-3.503,9.181,0,12.683
  c10.141,10.14,23.455,15.211,36.778,15.211c13.317,0,26.639-5.072,36.776-15.211C153.374,459.247,153.374,453.569,149.871,450.066z
  " />
                      <path display="inline" fill="#DD512A" d="M106.059,459.293c-0.835-0.174-1.667-0.374-2.491-0.612
  c-0.06-0.018-0.122-0.031-0.183-0.051c-0.415-0.122-0.827-0.26-1.239-0.399c-0.11-0.038-0.221-0.066-0.332-0.104
  c-4.163-1.455-8.1-3.74-11.547-6.853c-0.431-0.388-0.855-0.79-1.27-1.207c-3.501-3.5-9.179-3.5-12.681,0
  c-3.502,3.503-3.502,9.182,0,12.684c10.141,10.141,23.456,15.21,36.778,15.21v-17.928
  C110.735,460.031,108.377,459.78,106.059,459.293z" />
                      <g display="inline">
                        <path fill="#57575C" d="M151.354,394.885c-3.145,0-6.229,1.274-8.453,3.504c-2.226,2.224-3.504,5.303-3.504,8.452
    c0,3.152,1.279,6.229,3.504,8.453c2.224,2.23,5.308,3.504,8.453,3.504c3.15,0,6.229-1.273,8.453-3.504
    c2.225-2.222,3.504-5.301,3.504-8.453c0-3.149-1.279-6.229-3.504-8.452C157.583,396.159,154.504,394.885,151.354,394.885z" />
                        <path fill="#57575C" d="M83.286,415.294c2.225-2.222,3.503-5.308,3.503-8.453c0-3.144-1.279-6.229-3.503-8.452
    c-2.224-2.23-5.309-3.504-8.454-3.504c-3.151,0-6.229,1.274-8.453,3.504c-2.23,2.224-3.504,5.309-3.504,8.452
    c0,3.146,1.274,6.229,3.504,8.453c2.224,2.23,5.301,3.504,8.453,3.504C77.977,418.798,81.062,417.524,83.286,415.294z" />
                      </g>
                      <g display="inline">
                        <path fill="#F1CB30" d="M119.605,459.409c0.04-0.008,0.08-0.019,0.121-0.025C119.685,459.391,119.645,459.401,119.605,459.409z" />
                        <path fill="#F1CB30" d="M117.617,459.727c-1.5,0.199-3.012,0.305-4.523,0.305l0,0
    C114.605,460.031,116.116,459.926,117.617,459.727z" />
                        <path fill="#F1CB30" d="M117.987,459.682c0.036-0.006,0.07-0.015,0.106-0.017C118.058,459.667,118.023,459.675,117.987,459.682z" />
                      </g>
                    </g>
                    <g id="G17" display="none">
                      <ellipse display="inline" fill="#FFC10E" cx="244.758" cy="425.958" rx="104.033" ry="103.119" />
                      <g display="inline">
                        <path fill="#333333" d="M297.311,476.929c-29.073-29.424-76.501-29.301-105.406,0.308c-3.683,3.771,2.118,9.534,5.806,5.755
    c25.845-26.472,67.779-26.633,93.792-0.307C295.214,486.442,301.018,480.682,297.311,476.929L297.311,476.929z" />
                        <ellipse fill="#333333" cx="213.136" cy="390.391" rx="16.339" ry="16.195" />
                        <path fill="#333333" d="M274.92,374.196c9.021,0,16.337,7.25,16.337,16.195c0,8.944-7.315,16.195-16.337,16.195
    c-9.025,0-16.34-7.251-16.34-16.195C258.58,381.446,265.895,374.196,274.92,374.196z" />
                      </g>
                    </g>
                    <g id="G18" display="none">
                      <circle display="inline" fill="#E02753" cx="113.653" cy="425.523" r="95.832" />
                      <path display="inline" fill="#E02753" d="M113.653,329.691v191.664c52.927,0,95.832-42.905,95.832-95.832
  S166.58,329.691,113.653,329.691z" />
                      <g display="inline">
                        <path fill="#58575D" d="M95.602,483.426l-14.336-4.842c2.877-8.521,7.422-15.028,13.511-19.345
    c5.337-3.781,11.864-5.781,18.876-5.781c15.435,0,27.25,9.193,32.42,25.226l-14.402,4.645
    c-3.152-9.781-9.214-14.738-18.018-14.738C104.878,468.59,98.974,473.442,95.602,483.426z" />
                        <path fill="#58575D" d="M90.956,438.132c-5.563,0-10.087-4.524-10.087-10.086c0-5.563,4.525-10.089,10.087-10.089
    c5.563,0,10.087,4.526,10.087,10.089C101.042,433.608,96.517,438.132,90.956,438.132z" />
                      </g>
                      <g display="inline">
                        <path fill="#454449" d="M136.351,438.132c-5.562,0-10.087-4.524-10.087-10.086c0-5.563,4.525-10.089,10.087-10.089
    c5.563,0,10.087,4.526,10.087,10.089C146.436,433.608,141.911,438.132,136.351,438.132z" />

                        <rect x="138.863" y="366.771" transform="matrix(0.4856 0.8742 -0.8742 0.4856 418.6496 74.021)" fill="#454449" width="15.132" height="51.933" />
                      </g>

                      <rect x="54.91" y="385.171" transform="matrix(0.8742 0.4856 -0.4856 0.8742 200.8798 10.1376)" display="inline" fill="#58575D" width="51.932" height="15.132" />
                      <path display="inline" fill="#454449" d="M113.653,453.458v15.132c8.804,0,14.865,4.959,18.018,14.738l14.401-4.645
  C140.904,462.651,129.088,453.458,113.653,453.458z" />
                    </g>
                    <g id="G19" display="none">
                      <rect x="86.188" y="388.004" display="inline" fill="#4B6DAA" width="51.902" height="133.463" />
                      <circle display="inline" fill="#D8A852" cx="112.139" cy="488.102" r="14.83" />
                      <path display="inline" fill="#FBCE9D" d="M278.967,410.248c0-8.188-6.641-14.828-14.829-14.828h-33.366h-11.123h-13.353
  l3.664-17.125c2.795-13.064,2.046-28.987,0.385-40.171c-1.661-11.185-11.678-24.265-22.159-24.265h-0.885
  c-8.935,0-12.138,9.858-12.138,22.244c0,60.244-29.659,59.318-29.659,59.318h-7.415v118.633h55.609h37.074h14.829
  c8.189,0,14.829-6.64,14.829-14.828c0-8.189-6.64-14.83-14.829-14.83h11.122c8.189,0,14.829-6.641,14.829-14.828
  c0-8.19-6.64-14.831-14.829-14.831h11.122c8.19,0,14.83-6.639,14.83-14.828c0-9.243-5.981-12.76-14.83-14.073
  c-4.313-0.642-12.146-0.756-14.829-0.756h11.122C272.326,425.078,278.967,418.438,278.967,410.248z" />
                      <path display="inline" fill="#F7B563" d="M273.853,421.371h-46.788c-2.046,0-3.707,1.655-3.707,3.707
  c0,2.049,1.661,3.707,3.707,3.707h49.885c-2.436-1.493-5.516-2.421-9.104-2.951c-4.313-0.642-12.146-0.756-14.829-0.756h11.122
  C267.875,425.078,271.245,423.65,273.853,421.371z" />
                      <path display="inline" fill="#F7B563" d="M277.557,451.029h-50.492c-2.046,0-3.707,1.656-3.707,3.706
  c0,2.051,1.661,3.708,3.707,3.708h39.376c-2.607-2.279-5.98-3.708-9.717-3.708h11.122
  C271.582,454.735,274.951,453.31,277.557,451.029z" />
                      <path display="inline" fill="#F7B563" d="M266.436,480.688h-46.787c-2.045,0-3.707,1.656-3.707,3.707
  c0,2.05,1.662,3.707,3.707,3.707h35.669c-2.606-2.28-5.979-3.707-9.717-3.707h11.122
  C260.46,484.395,263.83,482.967,266.436,480.688z" />
                    </g>
                    <g id="Layer_6">
                      <circle fill="#FFC10E" cx="113.777" cy="424" r="102.428" />
                      <g>
                        <path fill="#ED3533" d="M90.074,369.106c-6.109,0-11.784,2.979-15.196,7.967l-0.704,0.895l-0.471-0.6
    c-3.372-5.171-9.057-8.259-15.229-8.259c-10.53,0-18.172,7.643-18.172,18.171c0,15.545,28.142,38.457,30.194,40.106
    c0.968,0.927,2.237,1.435,3.583,1.435c1.345,0,2.613-0.506,3.582-1.436c2.06-1.663,30.583-24.936,30.583-40.105
    C108.245,376.75,100.604,369.106,90.074,369.106z" />
                        <path fill="#ED3533" d="M169.852,369.106c-6.108,0-11.784,2.979-15.194,7.967l-0.704,0.895l-0.472-0.6
    c-3.372-5.171-9.056-8.259-15.228-8.259c-10.532,0-18.173,7.643-18.173,18.171c0,15.545,28.143,38.457,30.195,40.106
    c0.969,0.927,2.237,1.435,3.583,1.435c1.344,0,2.612-0.506,3.583-1.436c2.057-1.663,30.581-24.936,30.581-40.105
    C188.024,376.75,180.382,369.106,169.852,369.106z" />
                      </g>
                      <path fill="#333333" d="M159.72,458.534c-25.624,26.075-66.853,25.871-92.264-0.389c-3.63-3.753-9.343,1.973-5.717,5.718
  c28.429,29.379,75.058,29.537,103.698,0.389C169.093,460.531,163.378,454.811,159.72,458.534L159.72,458.534z" />
                    </g>
                  </svg>

                </div>
              </div>
            </div>
          </div>
          <%= form_with scope: :feedback, html: {id: "rating_form"}, url: save_feedback_web_operation_path(id: @operation.number), method: :put do |f| %>
            <%= f.text_field :rating, type: "hidden", id: "rating-field"%>
            <div class="comment">
              <%= f.text_area :note, class: "form-control", id: "exampleFormControlTextarea1", rows:"3"%>
            </div>
            <div class="btn-comment mt-4">
              <button type="button" class="btn btn-secondary" id="close-btn" data-dismiss="modal">Close</button>
              <%= f.submit :"Save changes", class: "btn btn-primary btn-rating"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
  <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-1b93190375e9ccc259df3a57c1abc0e64599724ae30d7ea4c6877eb615f89387.js"></script>
  <style>
     
  </style>
  
</html>

<script id="rendered-js">
     var music = document.getElementById("music");
     var playButton = document.getElementById("play");
     var pauseButton = document.getElementById("pause");
     var playhead = document.getElementById("elapsed");
     var timeline = document.getElementById("slider");
     var timer = document.getElementById("timer");
     var duration;
     pauseButton.style.visibility = "hidden";

     var timelineWidth = timeline.offsetWidth - playhead.offsetWidth;
     music.addEventListener("timeupdate", timeUpdate, false);

     function timeUpdate() {
       var playPercent = timelineWidth * (music.currentTime / duration);
       playhead.style.width = playPercent + "px";

      var total_minutes = Math.floor(music.duration / 60);
      var total_seconds = Math.floor(music.duration % 60);

      var minutes = Math.floor(music.currentTime / 60);
      var seconds = Math.floor(music.currentTime % 60);
      if (seconds < 10) {
        seconds = '0' + String(seconds);
      }
      timer.innerHTML = minutes + ':' + seconds + "/" + total_minutes + ":" + total_seconds;
     }

     playButton.onclick = function () {
       music.play();
       playButton.style.visibility = "hidden";
       pause.style.visibility = "visible";
     };

     pauseButton.onclick = function () {
       music.pause();
       playButton.style.visibility = "visible";
       pause.style.visibility = "hidden";
       var current_time = music.currentTime
       var file_duration = music.duration
      $.ajax({
          url : '<%= update_listen_count_web_operation_path(id: @operation.number) %>',
          type : 'GET',
          data : {
            'current_time' : current_time,
            'file_duration': file_duration
          },
          dataType:'json',
          success : function(data) {              
          console.log('Data: '+data.message);
          },
          error : function(request,error)
          {
          console.log("their is some issue");
          }
        })
      };

     music.addEventListener("canplaythrough", function () {
       duration = music.duration;
     }, false);
     //# sourceURL=pen.js


     $(".btn-forward").click(function(){
      var music = $("#music")[0]
      if( music.currentTime < music.duration ){
        music.currentTime += 10
      }
     });

    $(".btn-backward").click(function(){
      var music = $("#music")[0]
      if( music.currentTime > 0 ){
        music.currentTime -= 10
      }
     });

    $(".playbackrate").change(function(){
      value = $(this).val()
      var music = $("#music")[0]
      music.playbackRate = value;
    });

    $("#rating-1").change(function(){
      $("#rating-field").val(1);
    });

    $("#rating-2").change(function(){
      $("#rating-field").val(2);
    })
    $("#rating-3").change(function(){
      $("#rating-field").val(3);
    })
    
    $("#rating-4").change(function(){
      $("#rating-field").val(4);
    })
    
    $("#rating-5").change(function(){
      $("#rating-field").val(5);
    })


    setTimeout(function(){
      $(".alert").hide();
    }, 1000);

    $(document).on('visibilitychange', function() {
      if (document.visibilityState == 'hidden') {
        var current_time = music.currentTime
        var file_duration = music.duration
        $.ajax({
          url : '<%= update_listen_count_web_operation_path(id: @operation.number) %>',
          type : 'GET',
          data : {
            'current_time' : current_time,
            'file_duration': file_duration
          },
          dataType:'json',
          success : function(data) {              
          console.log('Data: '+data.message);
          },
          error : function(request,error)
          {
          console.log("their is some issue");
          }
        })
      }
    });

    $("#rating_form").submit(function(event){
      event.preventDefault()
      $.ajax({
          url : '<%= save_feedback_web_operation_path(id: @operation.number) %>',
          type : 'put',
          data : $('form').serialize(),
          success : function(data) {              
           alert("data save")
           $("#close-btn").click();
           $(".rating-btn").html("");
          },
          error : function(request,error)
          {
           alert("their is some issue");
          }
        })
    });

  </script>



  <!-- playbackRate for speed-->