<div class="row">
  <div class="col-xl-12 col-md-12">
    <div class="card card-default card-demo p-3" id="Div1">
      <h5 class="mt-2 mb-4">Filter</h5>
      <div class="row">
        <div class="col-md-3">
          <label>Language</label>
        </div>
        <div class="col-md-3">
          <label>Duration</label>
        </div>
        <div class="col-md-3">
          <label>Select Category</label>
        </div>
          <div class="col-md-3">
          <label>Select Booth</label>
        </div>
      </div>
      <%= form_with scope: :report, url: reports_path, method: :get do |f| %>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <%= f.select :language, options_for_select([["English", "English"],["Arabic", "Arabic"]], selected: (params[:report][:language] rescue nil)), { promat: true},{class:"custom-select custom-select-sm col-md-12", id: "update-category-dropdown"} %>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <%= f.select :duration, options_for_select([["Long", "Long"],["Short", "Short"]],selected: (params[:report][:duration] rescue nil)), { promat: true},{class:"custom-select custom-select-sm col-md-12", id: "update-category-dropdown"} %>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <%= f.select :category_id, options_for_select(@category_for_dropdown, selected: (params[:report][:category_id] rescue nil)), { promat: true},{class:"custom-select custom-select-sm col-md-12", id: "update-category-dropdown"} %>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <%= f.select :booth_id, options_for_select( @booth_for_dropdown, selected: (params[:report][:booth_id] rescue nil)), { promat: true},{class:"custom-select custom-select-sm col-md-12", id: "update-category-dropdown"} %>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <%= f.submit :search, class: "btn btn-success" %>
              <a href="<%= reports_path %>" class="btn btn-danger">Reset</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script id="rendered-js">
  $('#inputDate').datepicker({});
</script>

<script id="Script1">
    $(function () {

        var start = moment().subtract(29, 'days');
        var end = moment();

        function cb(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }

        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        },

        cb);

        cb(start, end);

    });
    //# sourceURL=pen.js
</script>