<div class="content-wrapper">
  <div class="content-heading">
    <div class="ml-auto">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#"><%= t('report')%></a></li>
        </ol>
      </nav>
    </div>
  </div>
  <%= render 'search_filter' %>

  <div class="row">
    <div class="col-xl-4">
      <div class="card card-default" id="cardChart5">
        <div class="card-body">
          <h5>Top Booth</h5>
          <%= column_chart @operations.group_by_hour(:created_at).count if @operations.present? rescue nil%>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card card-default" id="cardChart5">
        <div class="card-body">
          <h5>Listening day </h5>
          <%= column_chart @operations.group_by_day_of_week(:created_at, format: "%a").count if @operations.present? rescue nil%>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card card-default" id="cardChart5">
        <div class="card-body">
          <h5>Top Booth</h5>
          <%= bar_chart @booth_details if @booth_details.present? %>
        </div>
      </div>
    </div>
  </div>
  <!-- START cards box-->
  <div class="row">
    <div class="col-xl-12 col-md-6">
      <div class="table-responsive mt-3">
        <table class="table table-bordered table-hover" id="table-ext-1-operation">
          <thead>
            <tr>
              <th><%= t('booth_name')%></th>
              <th><%= t('city')%></th>
              <th><%= t('total_listening')%></th>
              <th><%= t('arabic_language')%></th>
              <th><%= t('english')%></th>
              <th><%= t('adult')%></th>
              <th><%= t('children')%></th>
              <th><%= t('short_book')%></th>
              <th><%= t('long_book')%></th>
            </tr>
          </thead>
          <tbody>
            <% if @booths.blank? %>
              <tr> No Record Found </tr> 
            <% else %>
              <% @booths.each do |booth| %>
                <% book_detail = booth["book_detail"] %>
                <tr>
                  <td><%= booth["name"] %></td>
                  <td><%= booth["city"] %></td>
                  <td><%= booth["listening_count"] %></td>
                  <td><%= book_detail.to_h["Arabic"] %></td>
                  <td><%= book_detail.to_h["English"] %></td>
                  <td><%= "adult" %></td>
                  <td><%= "child" %></td>
                  <td><%= book_detail.to_h["Short"] %></td>
                  <td><%= book_detail.to_h["Long"] %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-md-6">
      <div class="table-responsive mt-3">
        <table class="table table-bordered table-hover" id="table-ext-1-operation">
          <thead>
            <tr>
              <th><%= t('booth_name')%></th>
              <th><%= t('sat')%></th>
              <th><%= t('sun')%></th>
              <th><%= t('mon')%></th>
              <th><%= t('tue')%></th>
              <th><%= t('web')%></th>
              <th><%= t('thr')%></th>
              <th><%= t('fri')%></th>
            </tr>
          </thead>
          <tbody>
            <% if @booths.blank? %>
              <tr> No Record Found </tr> 
            <% else %>
              <% @booths.each do |booth| %>
                <% day_wise_info = booth["day_wise_info"] %>
                <tr>
                  <td><%= booth["name"] %></td>
                  <td><%= day_wise_info.to_h["Sat"] %></td>
                  <td><%= day_wise_info.to_h["Sun"] %></td>
                  <td><%= day_wise_info.to_h["Mon"] %></td>
                  <td><%= day_wise_info.to_h["Tue"] %></td>
                  <td><%= day_wise_info.to_h["Wed"] %></td>
                  <td><%= day_wise_info.to_h["Thr"] %></td>
                  <td><%= day_wise_info.to_h["Fri"] %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- END cards box-->
</div>