<!-- sidebar-->
<aside class="aside-container" id="side-menu">
  <!-- START Sidebar (left)-->
  <div class="aside-inner">
    <nav class="sidebar" data-sidebar-anyclick-close="">
      <!-- START sidebar nav-->
      <ul class="sidebar-nav">
        <!-- START user info-->
        <li class="has-user-block">
          <div class="collapse" id="user-block">
            <div class="item user-block">
              <!-- User picture-->
              <div class="user-block-picture">
                <div class="user-block-status">
                  <img class="img-thumbnail rounded-circle" src="/assets/user/02.jpg" alt="Avatar" width="60" height="60">
                  <div class="circle bg-success circle-lg"></div>
                </div>
              </div>
              <!-- Name and Job-->
              <div class="user-block-info"><span class="user-block-name">Hello, Mike</span><span class="user-block-role">Designer</span></div>
            </div>
          </div>
        </li>
        <!-- END user info-->
        <!-- Iterates over all sidebar items-->
        <li class="nav-heading "><span data-localize="sidebar.heading.HEADER">Main Navigation</span></li>
        <li class="">
          <%= link_to "<em class='fa fa-desktop'></em><span data-localize='sidebar.nav.DASHBOARD'>#{t('dashboard')}</span>".html_safe, homes_path, title: t('dashboard') %>
        </li>
        <li class=" ">
          <%= link_to "<em class='fa fa-user'></em><span>#{t('users')}</span>".html_safe, users_path, title: t('users')%>
        </li>
        <li class="active">
          <%= link_to "<em class='fa fa-book'></em><span>#{t('audio_books')}</span>".html_safe, books_path, title: t('audio_books')%>
        </li>
        <li class=" ">
          <%= link_to "<em class='fa fa-building'></em><span>#{t('booths')}</span>".html_safe, booths_path, title: t('booths')%>
        </li>
        <li class=" ">
        <%= link_to "<em class='fa fa-project-diagram'></em><span data-localize='sidebar.nav.element.ELEMENTS'>#{t('operations')}</span>".html_safe, operations_path, title: t('operations')%>
        </li>
        <li class=" "><a href="#report" title="Report" data-toggle="collapse">
          <em class="fa fa-file-code"></em><span data-localize="sidebar.nav.form.FORM">Reports</span>
          <i class="angle fa fa-chevron-right"></i>
        </a>
          <ul class="sidebar-nav sidebar-subnav collapse" id="report">                            
            <li class=" "><a href="group-report.html" title="Wizard"><span>Group Report</span></a></li>
            <li class=" "><a href="author-report.html" title="Upload"><span>Author Report</span></a></li>
            <li class=" "><a href="day-report.html" title="xEditable"><span>Day Table</span></a></li>
            <li class=" "><a href="time.html" title="Cropper"><span>Time Table</span></a></li>
          </ul>
        </li>
        <li class=" ">
          <%= link_to "<em class='fa fa-cog'></em><span>#{t('category')}</span>
          <i class='angle fa fa-chevron-right'></i>".html_safe, categories_path, title: t('category')%>
        </li>
      </ul>
      <!-- END sidebar nav-->
    </nav>
  </div>
  <!-- END Sidebar (left)-->
</aside>
