<!DOCTYPE html>
<html>
  <head>
    <title>AudioLibrary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- This refers to app/javascript/stylesheets/application.scss-->
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <%= render 'layouts/en_header' %>
      <%= render 'layouts/en_side_menu_layout'%>
    <%= yield %>
    </div>
    <!-- put yield in a div Wrapper class beacuse all header and navbar define in wrapper class -->
  </body>
</html>
