<div class="content-wrapper">
  <div class="content-heading">
    <div class="ml-auto">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#"><%= t('category')%></a></li>
        </ol>
      </nav>
    </div>
  </div>

  <!-- search box -->
  <div class="row">
    <div class="col-xl-12 col-md-12">
      <div class="card card-default card-demo p-3" id="Div1">
        <!-- <h5 class="mt-2 mb-4">Filter</h5> -->
<!--         <div class="row">
          <div class="col-md-12">
            <label>Date Rang</label>
          </div>
        </div> -->
        <%= form_with scope: :operation, url: operations_path, method: :get do |f| %>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
             <!--  <div id="reportrange" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;"> -->
               <!--  <i class="fa fa-calendar"></i>&nbsp;
                <span></span><b class="caret"></b> -->
                <div class="pull-left">
                <%= f.select :search, options_for_select([["Only Comment", "Only Comment"],["Only Rate", "Only Rate"],["Rate With Comment", "Rate With Comment"]], selected: (params[:operation][:search] rescue nil)),{}, {class:"custom-select custom-select-sm col-md-12", id: "update-category-dropdown"} %>
              </div>
            </div>
          </div>

          <div class="col-md-8">
            <div class="form-group">
              <%= f.submit :search, class:"btn btn-success" %>
              <%= link_to "#{t('reset')}", operations_path, class: "btn btn-danger"%>
              <!-- <button class="btn btn-success">Search</button>
              <button class="btn btn-danger">Reset</button> -->
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- START cards box-->
  <div class="row">
    <div class="col-xl-12 col-md-6">
      <div class="table-responsive mt-3">
        <table class="table table-bordered table-hover" id="table-ext-1-operation">
          <thead>
            <tr>
              <th class="text-danger">#</th>
              <th class="text-danger"><%= t('operation_number') %> </th>
              <th class="text-danger"><%= t('booth_name') %> </th>
              <th class="text-danger"><%= t('book_name') %></th>
              <th class="text-danger"><%= t('city') %></th>
              <th class="text-danger"><%= t('listening_status') %></th>
              <th class="text-danger"><%= t('listening_time')%></th>
              <th class="text-danger"><%= t('ratings') %></th>
              <th class="text-danger"><%= t('notes') %></th>
            </tr>
          </thead>
          <tbody>
            <% if @operations.blank? %>
              <tr><%= t('no_record_present') %></tr>
            <% else %>

              <% pagination_count = 0 %>
              <% if @pagination_data.present? %>
                <% page_no = @pagination_data["page"] || 0 %>
                <% per_page = @pagination_data["page_size"] || 0%>
                <% pagination_count = per_page * (page_no - 1) %>
              <% end %>
              
              <% @operations.each_with_index do|operation, i|  %>
                <% operation = operation["attributes"] %>
                <tr>
                  <td class="text-danger"><%= ( pagination_count + i + 1) %></td>
                  <td><%= operation["number"] %></td>
                  <td><%= operation["booth_name"] %></td>
                  <td><%= operation["title"] %></td>
                  <td><%= operation["city"] %></td>
                  <td><%= operation["listening_status"] %></td>
                  <td><%= Time.parse(operation["listening_time"]).strftime('%Y-%m-%d %l:%M %p') rescue nil %></td>
                  <td><%= operation["rating"] %></td>
                  <td><%= operation["note"] %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="card-footer">
        <div class="d-flex">
          <% if @pagination_data.present? %>
<!--       <div>
            <div class="dataTables_info" id="datatable1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
            </div> -->
            <div class="ml-auto">
              <nav>
                <ul class="pagination pagination-sm">
                  <% if (@pagination_data["page"]- 1) == 0 %>
                    <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                  <% else %>
                    <li class="page-item"><a class="page-link" href="<%= operations_path(page: @pagination_data["page"]- 1) %>" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                  <% end %>
                  <% if ( @pagination_data["page"] - 1 ) != 0 %>
                    <li class="page-item"><a class="page-link" href="<%= operations_path(page: @pagination_data["page"]- 1) %>" aria-label="Previous"><span aria-hidden="true"><%= (@pagination_data["page"] - 1) %></span></a></li>
                  <% end %>

                  <li class="page-item"><a class="page-link" href="#" %><%= @pagination_data["page"] %></a></li>

                  <% if @pagination_data["total_pages"] >= ( @pagination_data["page"] + 1 )%>
                    <li class="page-item"><a class="page-link" href="<%= operations_path(page: @pagination_data["page"] + 1) %>" aria-label="Previous"><span aria-hidden="true"><%= (@pagination_data["page"] + 1) %></span></a></li>
                  <% end %>
                  
                  <% if @pagination_data["page"] == @pagination_data["total_pages"] %>
                    <li class="page-item disabled"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                  <% else %>
                    <li class="page-item"><a class="page-link" href="<%= operations_path(page: @pagination_data["page"] + 1 ) %>" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                  <% end %>
                
                </ul>
              </nav>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- END cards box-->
</div>